[2017-02-07 22:08] papatosaur commented on #359
Same lags for me on Gtx980Ti, any news ?

[2017-02-08 06:02] spiderworm opened #487 "Revive not working with Superhot through Steam"
I purchased Superhot through Steam, and I have the latest Revive installed. I purchased Superhot today, and used the Revive right-click menu to patch the executable. When I do that, the game immediate launches, but always on my desktop only, in 2D mode, not in VR. It also doesn't show up in my Revive dashboard. Help?

[2017-02-08 14:32] Werbel commented on #487
Superhot on Steam is not VR version. It's just old PC version of game. VR version was not yet released on Steam, it's only available through Oculus Home.

[2017-02-08 16:11] spiderworm commented on #487
That... would explain it! Whoops! Thanks!

[2017-02-09 04:05] kinant opened #488 "HTC Vive Warranty"
Does the use of Revive void the HTC Vive warranty?

[2017-02-09 06:53] Balderick commented on #488
HTC support are very unlikely to name that as a reason to refuse you a refund, replacement or RMA.

[2017-02-09 15:22] isequence opened #489 "Robinson: The Journey"
Hi
I am wondering if Robinson: The Journey is working with Revive?
It is made by Crytek who made The climb. So I assume it works too?
Many thanks.
Sam

[2017-02-09 18:23] Armada651 commented on #488
No it will not void your warranty, Revive only uses the OpenVR API. It doesn't use any tricks that could possibly damage the hardware.

[2017-02-09 18:23] #488 closed

[2017-02-09 20:35] C-R-O-N-O-S commented on #489
I have problems.

"Platform error" User is not entitled.

Oculus service restart and revive patch cant help! (reboot also) :(

[2017-02-10 10:27] calibban commented on #482
the problem with the climb on revive is the tracking,the camera don't follow the headset very well and there is a lot of latency.
same problem with unspoken.

[2017-02-10 13:56] kvdv99 commented on #483
Indeed, sorry, my bad..

[2017-02-10 13:57] kvdv99 commented on #453
Ok, it's working now.. thanks

[2017-02-10 14:02] kvdv99 commented on #489
Oh yes,  I'd love to play this game too!

[2017-02-10 21:38] Rojoyinc commented on #489
me too if it works

On Fri, Feb 10, 2017 at 9:02 AM, kvdv99 <notifications@github.com> wrote:

[2017-02-10 21:52] Wowfunhappy commented on #482
Neither did Oculus at the time The Climb was released, so it shouldn't matter.

[2017-02-10 23:05] LilMissJustine commented on #489
I just bought it on Oculus Home, and it works through revive through SteamVR overlay.  Works great for me, at least for the first 30 min.

[2017-02-11 10:26] Tyrminaotr opened #490 "Robinson: The Journey, steam edition"
I can buy it on Oculus home, but it is also available on Steam. I see on compatibility list that Oculus Home version works, but it's not listed on Steam Oculus gems list...
Does the Steam version works also?

[2017-02-11 12:30] mapotter99 commented on #490
Right now, the Steam version has an entitlement bug preventing anyone (even Rift owners) from playing it.

I found this out the hard way.

We won't know if it works with Revive until this bug is fixed.

http://steamcommunity.com/app/579820/discussions/0/133256758575308671/

[2017-02-11 15:02] JChief opened #491 "Revive 1.0.4 causing latency spikes"
https://steamcommunity.com/app/250820/discussions/3/357285398694122872/

[2017-02-11 16:57] kvdv99 commented on #489
That's weird, because everyone is talking about an entitlement bug that prevents everyone (including Rift owners) from playing this game?...

[2017-02-11 17:55] #491 closed

[2017-02-11 20:32] adamb70 commented on #473
I'm getting the same issue with Dirt, anybody found a solution yet?

[2017-02-11 22:19] LilMissJustine commented on #489
Well, I bought it yesterday after work from the oculus store, then opened up steamvr, put on my headset, navigated to revive and was able to open up and play it.  Not sure why it didn't work for them, but it worked for me.  Maybe some kind of patch or something.   Anyways, just wanted to say that yes, it did work for me...purchasing from the Oculus store and then playing using SteamVr.  Not sure w

[2017-02-11 22:21] LilMissJustine commented on #490
I bought it on Oculus home and it works for me.  I have heard of entitlement issues from Steam Version, which is why I bought it from Oculus home.   Works wells.

[2017-02-12 00:03] kvdv99 commented on #489
I think you answered the question..  the Oculus store version is working and the Steam version is (currently) not.  Thanks.

[2017-02-12 02:20] BroHawk69 opened #492 "Failed to Launch"
So I tried launching some games from Steam that I got from the Oculus store and it says "Failed to launch _______" The only thing that works is the character creator. I tried launching it from the Oculus client, and in the headset itself.

[2017-02-12 02:41] happytor1 commented on #425
Hello, im having the same issue. Newest version of superhot. My vive controls for the grip button work fine until I get to the level where I unlock the "Super power". at this stage, I am unable to use the "super power" Restarting my game has yet to fix it.

[2017-02-12 03:20] Clothednblack commented on #492
Did you install revive?

[2017-02-12 10:43] Tyrminaotr commented on #490
But still if it will be possible - I prefer Steam version. There is (potential) possibility that they will add OpenVR support and (maybe) vive controllers. When I will buy in on Oculus Home I will not be able to update to that in the future.

[2017-02-12 15:10] Rojoyinc commented on #490
right same here - and STEAM supports the VIVE. I prefer to buy from steam
instead of occulus - and then we get free updates to HTC version later.

On Sun, Feb 12, 2017 at 5:43 AM, Tyrminaotr <notifications@github.com>
wrote:

[2017-02-12 15:33] kvdv99 commented on #489
Oculus Store version is defintely working with Revive but you need to disable asynchronous reprojection, otherwise it crashes. At least with me it did.

[2017-02-12 17:23] Armada651 commented on #482
Duplicate of issue #403.

[2017-02-12 17:23] #482 closed

[2017-02-13 03:47] leppermessiah1 opened #493 "The Town of Light (Steam)"
This game isn't listed on the compatibility list, and I'm hearing mixed results as to its playability using Revive.  Have you had any experience getting this game functioning?

[2017-02-13 10:47] mrbelowski commented on #489
Async doesn't crash it for me (Oculus store version). It does crash quite a lot when changing gfx settings though (but it's more stable if you change settings from the in-game, rather than pre-game menu)

[2017-02-13 11:11] kvdv99 commented on #489
Weird, it constantly crashed (every 2 or 3 minutes), totally unplayable, until I disabled async reproj. in SteamVR settings, and it hasn't crashed once since I did that!  Loving this game btw.

[2017-02-13 16:47] LLesGTU opened #494 "Robinson: The Journey Headset not found"
When I try to start the steam version of the game, I receive "Hardware issue: No VR Device available".

[2017-02-13 19:30] ReckonerVR commented on #494
Same issue here.

![image](https://cloud.githubusercontent.com/assets/25752667/22899459/cd885f2a-f222-11e6-8ca2-76e23883e729.png)

[2017-02-13 19:48] Bonhovis commented on #494
Same error unfortunately! Although, reportedly it works with the Oculus Store version okay! Tried to both Inject and Patch, but to no avail.

[2017-02-13 21:52] Armada651 commented on #494
Probably has something to do with no one being able to play the Steam version, even with an Oculus headset: http://www.roadtovr.com/robinson-the-journey-steam-vr-release-bug-oculus-rift-htc-vive-support/

Different error though.

[2017-02-13 21:55] ReckonerVR commented on #494
Yeah, error has been patched and Rift users seem to be fine with the Steam version now.

I've updated and this is a different issue, presumably specific for Revive at the moment.

[2017-02-13 22:27] github-0 commented on #396
Same thing here, "Failed to initialize Oculus Internal Interface" on output log. Worked before reinstalling Windows. Newest versions of Revive and Oculus software.

[2017-02-13 23:10] BroHawk69 opened #495 "Minecraft: Windows 10 Edition not working"
Whenever I try to launch MCW10, it loads in the headset, checks for updates, then launches. The moment the launcher closes, it crashes and I can't launch it unless I restart SteamVR, no crash logs or anything.

[2017-02-13 23:15] BroHawk69 commented on #180
In my case, it launches fine, but lags horribly and the menu spawns below the floor. There is no immediate way to play the game or load up a save. Any fix?

[2017-02-13 23:23] hyperseven commented on #495
never has worked, check the compatibility page:
https://github.com/LibreVR/Revive/wiki/Compatibility-list

[2017-02-13 23:27] hyperseven commented on #180
Has native Vive support?  Don't use ReVive.

[2017-02-13 23:56] SarahSmythe23 opened #496 "Install games without headet"
I have installed revive and the store/starter experiences are showing up and playable via the revive button on the SteamVR menu screen. However, I am unable to install a new game I bought from the OR app/store - it seems because I have no headset connected. So, I cannot see how to add the game(s) I want to play. Any advice? Perhaps I did something wrong?

Thanks in advance

[2017-02-14 09:34] Armada651 commented on #496
Once you download a game through the Oculus Store it will automatically be added to the SteamVR dashboard.

[2017-02-14 09:36] Armada651 commented on #495
OpenVR doesn't support Windows Store apps, so it's not possible for Revive to support Minecraft. Try Vivecraft instead.

[2017-02-14 09:36] #495 closed

[2017-02-14 09:37] Armada651 commented on #180
Yeah, subnautica has native Vive support now.

[2017-02-14 09:37] #180 closed

[2017-02-14 14:27] peteostro commented on #494
Same here. Seems to be failing on the Head set check. I wonder if the developers are doing a different in game check for it since i believe for now this is an Oculus exclusive title, which they want you to buy from oculus home. Could be the reason why they steam version had the initial bug.

[2017-02-14 22:25] github-0 commented on #396
Solved: I had another game (Allumette) crashing at launch and while trying to run that from its exe directly, it showed an additional error dialog that Steam wouldn't: x3daudio1_7.dll was missing. Google told to install DirectX End-User Runtime to fix that, so I [did](https://www.microsoft.com/en-us/download/details.aspx?id=35) and now both games work again. No idea why I had the problem in the fi

[2017-02-14 23:22] Armada651 commented on #396
I can't reproduce this issue, Superhot VR seems to work fine for most people.

@MasterNameless Make sure you're not running a virus scanner other than Windows Defender.

[2017-02-14 23:22] #396 closed

[2017-02-14 23:22] #496 closed

[2017-02-14 23:22] #487 closed

[2017-02-14 23:23] Armada651 commented on #475
DK1/DK2 games are not supported in Revive.

[2017-02-14 23:23] #475 closed

[2017-02-14 23:37] BroHawk69 commented on #492
Yes. I have also tried launching from Steam, but same result.

[2017-02-14 23:55] MasterNameless commented on #396
@armada651 Thanks, but through no rhyme nor reason, after about five or six restarts (after I'd  given up on the game working!), it suddenly booted fine...  and it's an amazing game!

It wasn't a clean install so I guess there was something else causing an issue in my system - glad its sorted though! It wasn't the anrivirus, as I haven't installed anything over Windows defender (it's a PC  I use o

[2017-02-15 00:32] TheTrillyG opened #497 "Robinson: The Journey, steam edition"
Will revive work with the steam version of Robinson: The Journey?

[2017-02-15 00:44] TheTrillyG opened #498 "Revive Steam Obduction"
Does revive work with the steam version of Obduction

[2017-02-15 00:48] #498 closed

[2017-02-15 01:53] SarahSmythe23 commented on #496
The game is not downloading through the Oculus Store - that's the problem. In my library I have the silos "installed", "updates", and "not installed". The game is in the "not installed" silo. If I mouse over it, I get the option to install. Clicking that option causes a pop in message saying that they are unable to install, and to check support for help. I have, but no fixes there. I am just assum

[2017-02-15 01:57] hyperseven commented on #496
Nothing to do with ReVive?
I suggest you contact Oculus support since you can purchase and install without needing a HMD.

[2017-02-15 02:25] SarahSmythe23 commented on #496
Thank you, I will do that :)

[2017-02-15 03:16] CarrotSurvivor opened #499 "After exiting game, can't click on new revive game"
So after starting a game.... it works right when I launch revive... but when I close out of a game, in the revive Menu ... I can't click anything .. it's like stuck scrolling up and down when I move the blue laser selector.... only way to fix this is to restart revive from the dashboard and then I can click on and launch new games again in the steam VR revive menu... very annoying :(

[2017-02-15 03:17] CarrotSurvivor opened #500 "Will the new edit exclusives coming soon work?"
I can't wait for these game and really hope they work with revive... will you be trying your best to get the working ? I'll love you forever and ever

[2017-02-15 05:32] TiE23 commented on #473
Don't know what changed but tonight I was able to get it running and play a few stages before it crashed the game when my stations lost sync for a moment (eh, it happens). Didn't change anything other than re-confirming I had used the revive Patch... tool like always with the drt.exe file. It doesn't seem that there has been any updates with SteamVR... http://store.steampowered.com/news/?appids=25

[2017-02-15 10:14] Balderick commented on #473
GPU driver updates?

[2017-02-15 11:25] adamb70 commented on #473
It's working for me now too, and I haven't installed the latest Nvidia drivers yet, I'm still on 378.57.

I'm not sure what the change is, it looks like [SteamVR ](https://steamdb.info/app/250820/depots/) hasn't been updated since I tried 4 days ago, and neither has [DiRt](https://steamdb.info/app/310560/depots/).

[2017-02-15 12:42] Armada651 commented on #499
I can't completely fix this problem, since it's a problem in OpenVR itself. But this should at least make sure it doesn't happen as often: 91a2abc65060198eafbd3f1434980384b2ccc07e

[2017-02-15 12:42] #499 closed

[2017-02-15 12:43] Armada651 commented on #490
Duplicate of #489.

[2017-02-15 12:43] #490 closed

[2017-02-15 12:43] Armada651 commented on #494
Duplicate of #489.

[2017-02-15 12:43] #494 closed

[2017-02-15 12:44] Armada651 commented on #497
Duplicate of #489.

[2017-02-15 12:44] #497 closed

[2017-02-15 12:45] Armada651 commented on #493
If I recall correctly that game only has DK2 support? DK2 games are not supported in Revive.

[2017-02-15 12:45] #493 closed

[2017-02-15 12:46] #458 closed

[2017-02-15 12:46] #446 closed

[2017-02-15 12:47] #449 closed

[2017-02-15 12:47] #450 closed

[2017-02-15 12:47] #454 closed

[2017-02-15 12:48] #462 closed

[2017-02-15 13:51] Armada651 commented on #489
I've tested the Steam version, it works if you follow the patching instructions, but it requires some extra work. Namely after patching it you will need to go to the folder with the executable and rename `xinput1_3.dll` to `xinput9_1_0.dll`.

For some reason they decided to use a really old version of XInput, so the assumption that every VR games uses XInput 1.3 breaks down.

[2017-02-15 14:03] Armada651 commented on #489
In the next version of Revive both DLLs will be replaced: dee4a26645d364adc8d5f7b82ea1c8a6dae3ae0a

[2017-02-15 14:03] #489 closed

[2017-02-15 15:11] Bonhovis commented on #489
Awesome. Thank you Armada651!

[2017-02-15 15:31] peteostro commented on #489
THANK YOU!!

[2017-02-15 16:06] Armada651 commented on #486
Can you post your logs from `%APPDATA%\Revive`? Just enter that into the explorer address bar, rename them to .txt files and drag them in the comment box below.

[2017-02-15 16:15] CarrotSurvivor opened #501 "Can not adjust graphics setting in the climb?"
It used to work fine but now in the graphics options everything is just blanc?? I can't adjust any of the settings the text in the middle of the selector arrows is absent.... games stuck looking like crap .. super weird it used to work fine ??

[2017-02-15 17:56] Clothednblack commented on #492
I'm assuming that the games you got are on the compatibility list and you did part of the setup for oculos (without finishing the hardware setup)? I had the same problem till I set up oculos then quit setup when it asked to confirm the actual hardware.

[2017-02-15 18:30] Werbel commented on #480
@Armada651
Just a friendly reminder here! Hope your vacation was great!

I was able to play some rounds of Unspoken with that tracking issue and i'm sure it's there and it's just related to rotation/orientation of headset. It does not affect controllers or positional movement.

Hope you can fix it!

Best wishes!

[2017-02-15 21:35] Chupacabra1989 commented on #480
i got the same problem here -.- got a 1080 and i got massivley frame drops only in my favorite game unspoken. unplayable i dont know why. changed everything in rendering and graphic options.  please fix this :/

[2017-02-16 00:03] mikegomak commented on #480
I have just seen The Unspoken running on OR with a much lower spec PC than mine and frankly it looks incredible. As @Chupacabra1989 said it seems the most polished VR game ever. Please let me know if I can offer any log files etc to help the process. Also, really appreciate that this is a labour of love. Where can I donate to the development? Thx

Sent from my iPhone

[2017-02-16 03:01] Werbel commented on #480
I'm also having frame drops problems with gtx1070 and decent cpu and ram. Not on every map, but it's kicking hard.

[2017-02-16 04:30] mikegomak commented on #480
So far, issues raised seem to be with Nvidea cards only. I have personally had some issues with games using the Unreal engine too (mainly launching and exiting) perhaps this is an Nvidea specific issue? Is that worth exploring?

Sent from my iPhone

[2017-02-16 06:38] Strongpillow commented on #480
The tracking on the headset is way off for me. It's like parts of it follow my gaze or the world moves in the opposite direction? I couldn't stay in it for long so I can't say exactly. All I know is that it looked really odd and bothered me fast.

I have a gtx 1070, i5 6600, 16gb ram. It's a brand new computer that I only use for VR.

[2017-02-16 08:03] Chupacabra1989 commented on #480
by the way i got a rx 480 in my computer before and it works fine seems really to be a nvidia problem -.- i use actual drivers for the 1080 maybe i should try an older version ?

[2017-02-16 12:24] Armada651 commented on #480
I'm currently focusing on getting The Climb fixed. I will look into this issue as soon as I've fixed The Climb, please bear with me.

[2017-02-16 17:09] Chupacabra1989 commented on #480
thank u very much of course :) where i can donate for you ? :D by the way for all others i figured out when in steam vr options in performance i signed both reprojections i got no more framedrops warnings but its still stuttering in movement. maybe this helps to find a fix :) best regards to community and thanks for all

[2017-02-16 17:11] mikegomak commented on #480
Thank you for keeping us updated. I would like to clarify that I have had the performance issues only with The Unspoken and in all versions of Revive, not just the newest version. Hope that aids understanding.

[2017-02-16 17:13] Strongpillow commented on #480
No rush @Armada651 I just wanted to let whoever know that I am experiencing issues with this game also. I am eager to play it but have no issue waiting patiently. Revive team = Gods!

[2017-02-16 17:18] mikegomak commented on #480
@Chupacabra1989 Regarding "I signed both reprojections" can you clarify for me exactly what you did and to which settings so I can also try please? If you have some optimised settings that would also help. Thx

[2017-02-16 17:22] Chupacabra1989 commented on #480
yeah of course bro when u start up your steamvr then u go in the settings( not in steam only steamvr) and then choose options and performance on the right side u can activate both reprojections the framedrops are gone now but its still stuttery but now i think its not a problem from nvidia. maybe u can also try this and report :)

[2017-02-16 22:21] NinFanBoyFTW opened #502 "question on standalone games"
Hi. I just wanted to know, I have been using Revive with the vr virtual boy emulator "VBjin VR" and it works great but I was wondering if there was any way to have a feature where you can create a new shortcut of whatever program you are using that automatically launches with revive enabled. I currently use the revive injector and drag the program onto the injector to get it working but I would li

[2017-02-17 11:11] Armada651 commented on #480
I got stuck with The Climb, so I've started to take a look at The Unspoken. I can't reproduce any issues trying to launch it, that seems to work fine. I can reproduce the tracking latency and this is where the new profiler I've built into Revive comes in handy:

![clipboard01](https://cloud.githubusercontent.com/assets/2028870/23063168/5f6f01ee-f509-11e6-88e3-023284d21024.png)

What's happening he

[2017-02-17 11:50] Armada651 commented on #480
Ok, that's fixed in commit e43db8160a60131f6df93ec21d2f5f10eb83af7e. That will be part of the next release.

There still seems to be about one frame of latency, but that latency seems to affect multiple games not just The Unspoken.

[2017-02-17 12:01] Armada651 commented on #502
1. Add the injector as a non-steam game
2. In the target box append the path to the standalone game at the end, separated by a space
3. Check "Include in VR Library"

[2017-02-17 12:40] Chupacabra1989 commented on #480
u guys just awesome love u.  and yes armada this problem is in many games also in dead and buried. thanks for working on it <3

[2017-02-17 12:46] Armada651 commented on #500
Maybe? Revive is a compatibility layer, so it should work with any game. I'm not going to make promises about games that aren't out yet.

[2017-02-17 12:46] #500 closed

[2017-02-17 12:52] Armada651 commented on #501
It works fine for me.

[2017-02-17 12:53] Armada651 commented on #492
Can you post your logs from `%APPDATA%\Revive`? Just enter that into the explorer address bar, rename them to .txt files and drag them in the comment box below.

[2017-02-17 12:54] Armada651 commented on #479
Start Revive Dashboard from the start menu. Also check if you accidentally disabled Revive in the SteamVR settings under the "Applications" tab.

[2017-02-17 12:54] #479 closed

[2017-02-17 12:56] Armada651 commented on #437
Make sure you rebooted the Oculus Service or your PC. Also *many* people report Superhot not working with Revive when they're actually using the regular edition of Superhot instead of the VR edition.

[2017-02-17 12:56] #437 closed

[2017-02-17 12:56] #434 closed

[2017-02-17 13:00] #348 closed

[2017-02-17 13:06] Armada651 commented on #473
Dirt Rally is working fine for me, though there seem to be some more problems with the current patching method (see issue #399). I will probably replace the patching method with an actual launcher sometime, but that might take a while.

[2017-02-17 13:08] Armada651 commented on #470
I can't reproduce this problem at all and you're the only person to report this issue. Without any more evidence I don't believe there is an issue.

[2017-02-17 13:08] #470 closed

[2017-02-17 13:09] Armada651 commented on #460
Try reinstalling SteamVR, perhaps you're stuck on an older version. Also, make sure you're using the latest version of Revive.

[2017-02-17 13:10] #460 closed

[2017-02-17 13:10] #483 closed

[2017-02-17 13:11] Armada651 commented on #477
You forgot to mention the game, so there's nothing for me to look into here.

Feel free to leave a comment with more information and I'll reopen this issue.

[2017-02-17 13:11] #477 closed

[2017-02-17 13:41] mikegomak commented on #480
@Armada651 is there a way I can give this a try or do I need to wait for the next release. Apologies if this is an ignorant question but I am new to this and don't fully understand terms like "commit" or how to work with the newly updated files. Thx again.

[2017-02-17 14:51] Armada651 commented on #480
@mikegomak If you're not familiar with how to compile software you need to wait for the next release.

[2017-02-17 14:53] #468 closed

[2017-02-17 14:54] #422 closed

[2017-02-17 14:54] #423 closed

[2017-02-17 14:55] Armada651 commented on #419
I can't reproduce the problem and no one else seems to run into it. Feel free to leave a comment here if you want to reopen the issue.

[2017-02-17 14:55] #419 closed

[2017-02-17 14:55] #502 closed

[2017-02-17 14:56] Armada651 commented on #56
Sorry for the late reply, but this seems to be more a problem with your setup than Revive.

[2017-02-17 14:56] #56 closed

[2017-02-17 14:57] Armada651 commented on #66
I can't reproduce the problem and no one else seems to run into it. Feel free to leave a comment here if you want to reopen the issue.

[2017-02-17 14:57] #66 closed

[2017-02-17 14:58] #80 closed

[2017-02-17 14:59] Armada651 commented on #139
Pretty sure they fixed the dashboard by now, feel free to leave a comment here if you want to reopen the issue.

[2017-02-17 14:59] #139 closed

[2017-02-17 15:00] Armada651 commented on #211
No reply for months, feel free to leave a comment here if you want to reopen the issue.

[2017-02-17 15:00] #211 closed

[2017-02-17 15:00] #230 closed

[2017-02-17 15:01] #231 closed

[2017-02-17 15:02] Armada651 commented on #238
Closing this issue now that the Vive is officially supported.

[2017-02-17 15:02] #238 closed

[2017-02-17 15:03] Armada651 commented on #248
Most people seem to patch the 32-bit executable and then run the 64-bit one. So yeah, try what @Balderick said if it doesn't work.

[2017-02-17 15:03] #248 closed

[2017-02-17 15:04] Armada651 commented on #282
Eagle Flight has since added support for the HTC Vive.

[2017-02-17 15:04] #282 closed

[2017-02-17 15:08] #298 closed

[2017-02-17 15:09] #306 closed

[2017-02-17 15:10] Armada651 commented on #306
Closing this issue as I really don't intend to release these separately anymore.

@Wowfunhappy That is correct.

[2017-02-17 15:11] #346 closed

[2017-02-17 15:13] Armada651 commented on #416
Sounds like you have a virus scanner or something that is blocking Revive from working.

[2017-02-17 15:13] #416 closed

[2017-02-17 15:16] Armada651 commented on #426
Revive has had the ability to add Oculus games to your Steam library ever since it had a dashboard. Strange that the dashboard icon isn't working for you I haven't heard about anyone else running into that issue so I can't reproduce it.

Feel free to leave a comment here if you're still running into that issue.

[2017-02-17 15:16] #426 closed

[2017-02-17 15:17] #360 closed

[2017-02-17 15:19] Armada651 commented on #362
EVE: Valkyrie has since added support for the Vive to the Steam version.

[2017-02-17 15:19] #362 closed

[2017-02-17 15:19] #413 closed

[2017-02-17 15:19] #414 closed

[2017-02-17 15:21] Armada651 commented on #398
I haven't heard from anyone running into this problem anymore and it sounds like it is related to SteamVR and not Revive.

Feel free to leave a comment here if you're still running into that issue.

[2017-02-17 15:21] #398 closed

[2017-02-17 15:22] Armada651 commented on #371
Now that these angles are user-configurable I'm going to close this issue.

[2017-02-17 15:22] #371 closed

[2017-02-17 15:22] Armada651 commented on #366
Not a problem due to Revive.

[2017-02-17 15:22] #366 closed

[2017-02-17 15:24] Armada651 commented on #372
Closing this one as a duplicate of #399, it's the same exact issue.

[2017-02-17 15:24] #372 closed

[2017-02-17 15:24] #392 closed

[2017-02-17 15:25] Armada651 commented on #409
No reply for months, closing this issue. Feel free to leave a comment here if you're still running into this issue.

[2017-02-17 15:25] #409 closed

[2017-02-17 15:25] #386 closed

[2017-02-17 15:25] #397 closed

[2017-02-17 15:26] Armada651 commented on #400
Closing this bug as I can't reproduce the issue. Feel free to leave a comment here if you're still running into this issue.

[2017-02-17 15:26] #400 closed

[2017-02-17 15:27] #429 closed

[2017-02-17 15:28] #436 closed

[2017-02-17 15:28] Armada651 commented on #438
Closing this issue as I can't reproduce it. Feel free to leave a comment here if you're still running into this issue.

[2017-02-17 15:28] #438 closed

[2017-02-17 15:29] #453 closed

[2017-02-17 15:30] Armada651 commented on #445
The compositor has different chaperone behavior. It's unlikely that Revive is delaying the chaperone bounds. This sounds like a bug in SteamVR.

[2017-02-17 15:30] #445 closed

[2017-02-17 15:31] #381 closed

[2017-02-17 15:32] Armada651 commented on #478
I tried launching a few games today without any problems. Have you tried re-installing SteamVR?

[2017-02-17 15:39] Armada651 commented on #441
Closing this issue as I can't reproduce it. Feel free to leave a comment here if you're still running into this issue.

[2017-02-17 15:39] #441 closed

[2017-02-17 15:40] #467 closed

[2017-02-17 15:41] Armada651 commented on #410
I can't reproduce this issue, make sure you're not running a virus scanner other than Windows Defender as that may block Revive from working.

Feel free to leave a comment here if you're still running into this issue.

[2017-02-17 15:41] #410 closed

[2017-02-17 15:42] Armada651 commented on #430
I'm pretty sure people are just patching the wrong executable. Closing this issue.

[2017-02-17 15:42] #430 closed

[2017-02-17 15:43] Armada651 commented on #395
This seems to be an issue with the game rather than with Revive.

[2017-02-17 15:43] #395 closed

[2017-02-17 15:44] #389 closed

[2017-02-17 15:46] Armada651 commented on #393
This should be at least partially fixed in commit 91a2abc65060198eafbd3f1434980384b2ccc07e.

[2017-02-17 15:46] #393 closed

[2017-02-17 16:01] Armada651 commented on #478
Ah I can now reproduce the problem, but only by using the Revive Dashboard. There seems to have been some change in the way SteamVR handles application loading.

[2017-02-17 16:20] Strongpillow commented on #480
Thanks for taking a look @Armada651 Definitely excited for the new update. Unspoken looks awesome.

[2017-02-17 16:56] mikegomak commented on #480
Thanks for your work on this - awesome!

[2017-02-17 18:34] ptdean82 commented on #478
It seems to work perfectly if you click on the game from inside the Steam
application (on the computer).

On Feb 17, 2017 11:01 AM, "Jules Blok" <notifications@github.com> wrote:

[2017-02-18 13:06] Chupacabra1989 commented on #351
can confirm with lucid. also got this issue. thx for take a look :)

[2017-02-18 16:03] Armada651 commented on #480
I've found the issue in The Climb and it also affects this game as expected. Both games consistently request tracking data one frame ahead of the frame they are supposed to render. This is causing the extra frame of tracking latency that's visible in those two games.

[2017-02-18 16:16] Chupacabra1989 commented on #480
i love u :D cant await this fix

[2017-02-18 16:19] Armada651 commented on #480
Well, I can never truly fix that, I have to resort to tracking prediction and that can never be truly accurate. However, this prediction would also happen on the Oculus Rift as the game is explicitly requesting it in this case.

I get the feeling these games may be cheating a little to get around a CPU bottleneck in their games.

[2017-02-18 16:27] Chupacabra1989 commented on #480
im not a big pro in what u are doing but i trust in u :D cant believe whats really wrong with this game. i got a rx 480 it worked in low settings without SS really fine. upgraded to gtx 1080 and its unplayable

[2017-02-18 17:02] Kyldros commented on #410
I do not have any other virus scanner, and revive works fine with all other games but not with Chronos :(

[2017-02-18 18:15] GTGeoff commented on #473
Hi

I've now got it working again. Its a little bit embarrassing but I hadn't right clicked the revive icon on the button right and selected 'patch' then the dirt executable file.

It's there on the instructions so my bad. It works perfectly now.

Just posting to apologise and in case anyone else missed this like I did.

Great job with revive and the latest update is definitely allowing the game t

[2017-02-18 21:20] Armada651 commented on #410
Currently there's a bug in SteamVR that may prevent any Revive game from starting up.

[2017-02-18 23:11] RygorX commented on #452
Signed up to plead for this hack - override its really hard to get much subtlety out of Medium with the current situation :/

[2017-02-18 23:40] Armada651 commented on #452
@chemb0t That's not why it jumps, the hardware trigger is causing it to jump. The bugfix just made it so the "trigger pressed" event is not bound to the hardware trigger, but is actually just a trigger threshold instead.

The problem with the trigger is that it's not properly calibrated, causing it to jump at the end when the hardware trigger is pressed. It would be much better if this curve was c

[2017-02-19 09:36] knetterspetter opened #503 "entitlement check Chronos"
I could always play Chronos with my HTC Vive but now i get the Entitlement check error.
Somoene else have the same problem? THX

[2017-02-19 10:23] Armada651 commented on #486
Probably a duplicate of #478.

[2017-02-19 10:23] #486 closed

[2017-02-19 10:23] Armada651 commented on #503
The is a problem with the new SteamVR update, of games will fail to initialize when you start them from the dashboard. You could try starting them from your Steam Library or injecting manually from the tray icon menu.

Closing this as duplicate of #478.

[2017-02-19 10:23] #503 closed

[2017-02-19 11:12] knetterspetter commented on #503
Thank you Armada. Already tried to eject the game manually from the tray icon menu from Revive and also Patch it. But i get the same error. Can i start this game from my steamVR library? Because i need to drag the exe file to the revivelnjector x64 exe. Do you know this?? Thx

[2017-02-19 11:17] Armada651 commented on #503
I'm having a hard time understanding you. Are you saying it works correctly when using the injector manually?

Please explain your problem more clearly.

[2017-02-19 11:36] knetterspetter commented on #503
Hi, no it does not work. It used to work with the injector. But now not anymore. I tried different things but still get the Entitlement check error.

[2017-02-19 11:39] knetterspetter commented on #503
The game starts up when i'm using the injector. Also in VR, but after the Unreal Logo I get Entitlement check error.

[2017-02-19 14:46] jmbihorel opened #504 "Empty revive menu in steamVr"
Hi,
First, thank you very much for your work, it is a game changer for vive.
I installed my vive headset yesterday and right away tried to instal revive in order to work with oculus medium and Quill. I did all the required step (I quit before the installation of the oculus hardware but oculus home tells me the headset is missing) I installed the apps I wanted, I installed revive. I can see the rev

[2017-02-19 15:44] Armada651 commented on #504
Can you post your logs from `%APPDATA%\Revive`? Just enter that into the explorer address bar, rename them to .txt files and drag them in the comment box below.

[2017-02-19 15:47] jmbihorel commented on #504
Here is the Revive injector log :

Launched injector with: "C:\Program Files\Revive\Revive\ReviveInjector_x64.exe" /library "Software\oculus-oculus-medium-retail\bin\OculusMedium.exe"
Creating process: C:\Program Files\Oculus\Software\Software\oculus-oculus-medium-retail\bin\OculusMedium.exe
Injecting DLL: C:\Program Files\Revive\Revive\x64\openvr_api.dll
LoadLibrary found at address: 0x9585f610
I

[2017-02-19 15:51] Armada651 commented on #504
Have you restarted the Oculus software and SteamVR? Try restarting your PC just to be sure.

[2017-02-19 15:53] jmbihorel commented on #504
I've done it a few time. Let me do it once more.

[2017-02-19 15:53] Armada651 commented on #503
An entitlement error means that the Oculus software thinks you don't own the game. There's not much I can do about that, perhaps you can try reinstalling the Oculus software?

[2017-02-19 15:59] jmbihorel commented on #504
Well it is still not working. Even though I can see all the apps in the steam library, the revive panel is empty...

[2017-02-19 16:08] Armada651 commented on #504
I still don't understand why the dashboard panel would be empty, can you make a screenshot using the SteamVR Display Mirror?

[2017-02-19 16:13] jmbihorel commented on #504
Sorry I crashed all my display trying to install an update on my graphic card. I'm trying to fix it and I'll post a snapshot. But basically it is emptu, I just have the bg environment showing up.

[2017-02-19 16:29] jmbihorel commented on #504
Here is a screenshot of the empty revive menu. And a one of the error I get when I try to launch it from the steam panel.

![vive](https://cloud.githubusercontent.com/assets/25881937/23104163/d24968ec-f6c8-11e6-8072-a3f9c5ad197e.jpg)
![revive](https://cloud.githubusercontent.com/assets/25881937/23104164/d24e006e-f6c8-11e6-800e-924bcd60b77e.jpg)

[2017-02-19 16:30] jmbihorel commented on #504
The advanced setting tab is empty as well if it can give you an hint...

[2017-02-19 16:39] pat277 opened #505 "Minecraft 10 edition doesn't get past loading the desktop application, but the VR side/application works perfectly"
its useless though as the VR application needs to launch the desktop version. BUT at the very least Minecraft 10 edition VR does accept Xbox 360 input PERFECTLY regardless of it loading, so that's better than nothing.

[2017-02-19 17:02] Armada651 commented on #505
Duplicate of issue #230.

[2017-02-19 17:02] #505 closed

[2017-02-19 17:07] Armada651 commented on #504
Yeah it seems it failed to initialize, but there's nothing in the log indicating anything went wrong. Maybe there's something wrong with your installation of SteamVR?

[2017-02-19 17:29] jmbihorel commented on #504
I tried to uninstall it but it always seems to be there. It never really uninstall it when I try...

[2017-02-19 18:23] jmbihorel commented on #504
Ok, so I managed to re-install steamVR but there is still no changes...
Is it possible that the oculus home have been wrongly set up? I always get notification that the headset is not found when I hopen oculus home?

[2017-02-19 19:45] kvdv99 opened #506 "Assetto Corsa still working?"
What's the right way to start this in VR?  I tried several things but can't get it to run in VR anymore...

[2017-02-19 19:46] Armada651 commented on #506
Did you patch the 64-bit executable?

[2017-02-19 22:25] kvdv99 commented on #506
Yes, I did

[2017-02-20 14:09] FluorescentHallucinogen opened #507 "Is it possible to run Robinson: The Journey using VRidge/RiftCat via Revive?"
Just bought Robinson: The Journey on Steam and tried to run it using VRidge/RiftCat via Revive, because I have no Oculus Rift or HTC Vive, but no luck.

Can anyone confirm that it's possible?

Has Steam version of Robinson: The Journey game any DRM that prevents use of Revive or VRidge/RiftCat?

[2017-02-20 14:10] Armada651 commented on #507
Have you followed the instructions for Steam games on the wiki?

[2017-02-20 14:12] FluorescentHallucinogen commented on #507
Yes, I've pathed the folder with the executable and rename `xinput1_3.dll` to `xinput9_1_0.dll`.

[2017-02-20 14:16] FluorescentHallucinogen commented on #507
How should I run the game after patching?

[2017-02-20 14:20] FluorescentHallucinogen commented on #507
Is it possible to run the game without Xbox controller? Can I use another gamepad, e.g. Defender Game Racer Turbo GT?

[2017-02-20 14:20] Armada651 commented on #507
You should run it through Steam. Only XInput controllers will work.

[2017-02-20 14:33] FluorescentHallucinogen commented on #507
Must XInput controller be connected to run the game? I'll try to test XInput emulator.

[2017-02-20 20:48] jmbihorel commented on #504
I de-activated my second graphic card, and now it works perfectly!
Thanks for your support!

[2017-02-21 18:56] MattFiler commented on #54
@jfenton Did you get anywhere with this? Would be great if Revive worked with Isolation.

[2017-02-21 20:38] OutlawViking opened #508 "Ultrawings "Waiting for controller""
I am having an issue where when I start ultrawings I get a "wait for controller" screen and the game goes no further. I know the game came out today but I wanted to start this topic to try and help in any way I can to get this game working. I have an Xbox controller and both Vive controllers connected. I am running the latest version of Revive, Oculus Home, and Steam VR.

[2017-02-21 21:27] jaorg1234 commented on #508
Don't have that game, but try to move your Vive wands around **before** and **while** the game is starting up. Maybe that helps to get the controllers recognized by the game

[2017-02-21 21:46] Eueyj79 commented on #376
I just wanted to check in on  this as well, I could use this feature. Is there any update?

[2017-02-21 22:07] OutlawViking commented on #508
I started another game in Steam and played for a few min. Then I switched to a revive game (Super Hot VR) and played that for a few min. Then I tried Ultrawings again and had the same issue. I sat at the waiting screen for about 5 min waiving the VR controller and pressing buttons on the Xbox and VR controllers.

The exact terminology used by the game is "Waiting on Controller" that to me sounds l

[2017-02-21 22:24] CarrotSurvivor opened #509 "The climb, still can't change graphics setting"
You closed the issue I had before, but I think you were frustrated with the climb or something. If you remember when I mention that haptics were not working in the oculus touch demo "first contact" well this must be a hard to too issue like that one because The games definitely not working and there graphics options have dissapeared there arrows to change them are there but the actual things to se

[2017-02-21 22:41] Armada651 commented on #509
Why didn't you just comment in the closed issue like I said? Even if it is closed you can still comment, I've reopened it now.

[2017-02-21 22:41] #509 closed

[2017-02-21 22:43] Armada651 commented on #501
Unlike the haptics problem, this is a problem I cannot reproduce. You will have to provide as much information as possible to troubleshoot it.

I'll need a screenshot of the problem and your system specifications.

[2017-02-21 22:45] Armada651 commented on #508
Xbox controllers are supported in Revive, I'll see if I can reproduce this.

[2017-02-21 22:53] Armada651 commented on #376
Not yet, this feature has been in my backlog for a while. It's not that difficult to add, just waiting until the next minor release.

[2017-02-21 23:01] gormanj commented on #489
Armada, thank you very much for your tip. It's a great game.

[2017-02-21 23:13] Armada651 commented on #508
According to the store page Oculus Touch controllers are supported.

[2017-02-22 01:13] Eueyj79 commented on #376
I'm happy to test it or contribute to the beer fund ;-)

[2017-02-22 01:33] Armada651 commented on #376
Like I said that's not the problem. Just waiting until the next release.

[2017-02-22 07:55] FluorescentHallucinogen commented on #507
I've tried https://github.com/x360ce/x360ce emulator, but still no luck.

Immediately after patching the folder with the executable and renaming `xinput1_3.dll` to `xinput9_1_0.dll`, I get the following error message window `You have a pending hardware issue that is preventing you from entering VR. Please check that your headset and sensor are connected.` with `Hardware Issue: Flags:30c3-Hmd(ON) T

[2017-02-22 08:01] FluorescentHallucinogen commented on #507
Actually I get 2 errors during the start of the game from Steam: one from Steam — `Robinson: The Journey does not support your currently active headset.` and the second from the game — `You have a pending hardware issue that is preventing you from entering VR. Please check that your headset and sensor are connected.`

[2017-02-22 10:52] Blue283 commented on #437
I got the same problem. Does someone know how to fix it ? Reboot doesn't work. I bought the Game on Oculus-Store and want to Play it. :(

[2017-02-22 10:55] Armada651 commented on #507
A sensor is a positional tracking camera. VRidge has no support for positional tracking and Robinson won't launch without positional tracking.

[2017-02-22 10:55] #507 closed

[2017-02-22 10:56] #492 closed

[2017-02-22 10:57] Armada651 commented on #437
@Blue283 You're running into issue #478. Unfortunately the SteamVR update broke the Revive dashboard. Try starting Superhot from Steam, it should be in your library when you have SteamVR running.

[2017-02-22 10:57] Blue283 opened #510 "Super Hot VR Problem (Game only starts on my desktop)"
Hello guys and girls,

my problem is tha every time i try to launch the game over Revive it just stats on my Desktop.
I already rebooted my Computer twice but still the same Problem.
If someone knows how to fix it would be great.
If someone want to help me with it my Steamname is ''Blue283''
(I'm sorry for the bad english but it isn't my nativ laguage)

[2017-02-22 10:59] Armada651 commented on #510
@Blue283 Please read my reply before opening an issue report, I'm notified of every comment on the repo so no need to make multiple posts.

Closing as duplicate of issue #478.

[2017-02-22 10:59] #510 closed

[2017-02-22 11:05] Blue283 commented on #437
thanks Armada651 it is there.
But when i try to run it it says the is a problem with the
shortcut. I dont know why this hapend i checked the
shortcut.

[2017-02-22 11:25] Armada651 commented on #437
If you tried to launch it from the dashboard once you'll have to restart SteamVR.

[2017-02-22 11:28] Blue283 commented on #437
Yea tried that but it still start on my Desktop ? Or does i have to start it, than restart steamVR?

[2017-02-22 11:29] FluorescentHallucinogen commented on #507
Is it possible to emulate the sensor somehow?

[2017-02-22 11:31] Armada651 commented on #437
No, that would just cause the game to exit (if Revive was loaded correctly). The last thing you can try is injecting manually. When SteamVR is running there should be a Revive tray icon. Right-click the icon, select `Inject...` and then look for the Superhot executable (by default it's located in `C:\Program Files\Oculus\Software\Software\superhot-superhot\superhotvr.exe`)

[2017-02-22 11:36] Blue283 commented on #437
Revive is correctly installed but i don't got a tray Icon. Just the Icon from SteamVR and Vive itself.
SuperhotVR is in the correct folder. I dont know what Kind of Problem this is.

[2017-02-22 12:12] Armada651 commented on #437
Look more closely, are you sure there's no white triangle icon somewhere in your system tray?

[2017-02-22 12:40] Armada651 commented on #507
It's possible, but that's not my responsibility. Revive is a compatibility layer, not an emulation layer.

If the people using VRidge want to act as if their headset has positional tracking then that should be implemented in the VRidge driver.

[2017-02-22 12:50] Armada651 commented on #376
Fixed in 28c610339a2545ec2ed93fc86bc8a6e6a29be069, will be part of the next release.

[2017-02-22 12:50] #376 closed

[2017-02-22 13:11] FluorescentHallucinogen commented on #507
I understand it. Do you know any sensor emulators?

[2017-02-22 13:16] Armada651 commented on #507
You should contact the VRidge team to implement that feature.

[2017-02-22 13:41] Blue283 commented on #437
only the normal Vive Icon :(

[2017-02-22 13:41] Armada651 commented on #437
Then you're probably running an old version.

[2017-02-22 15:42] kvdv99 opened #511 "Oculus Dreamdeck and First Contact"
both these titles are no longer working for me..

First Contact -> on the monitor everything is mirrored correctly, but headset only displays black screen
Dreamdeck -> I only see something that resembles the colors (grey for opening screen, green for first world, etc) but nothing more than a solid color all around (with some flickering when I move)...

[2017-02-22 15:42] Armada651 commented on #511
Going to do a new release soon that will hopefully fix these launching issues.

[2017-02-22 17:16] Blue283 commented on #437
where can i find the new one as a Installer Version   ?

[2017-02-22 17:16] Armada651 commented on #437
https://github.com/LibreVR/Revive/releases

[2017-02-22 17:24] Armada651 commented on #508
I'm able to reproduce the issue, currently trying to find the cause.

[2017-02-22 17:54] Armada651 commented on #508
Fixed in 36251ea02fdecc3ec027496b74eabac5bb556463.

[2017-02-22 17:54] #508 closed

[2017-02-22 17:58] FluorescentHallucinogen commented on #507
I've installed RiftCat Beta (1.2.0) and found "SteamVR Fake Sensor" option (checkbox), checked it and tried to run the game. All is ok, except VR Service crashs.

[2017-02-22 18:11] mikegomak commented on #480
@SkywardEntertainment - I'm having the same problem again and have done all the steps you mentioned above apart from the last one....

Find the "i24.exe" file and drag it on top of the "ReviveInjector_x64 - Shortcut" file.

I cannot find it. Advice appreciated.

[2017-02-22 18:11] Armada651 commented on #478
Should be fixed in the latest release.

[2017-02-22 18:11] #478 closed

[2017-02-22 18:12] Armada651 commented on #376
You're in luck, I just pushed an update and it includes the option.

[2017-02-22 18:34] kvdv99 commented on #511
many thanks!!

[2017-02-22 19:12] OutlawViking commented on #508
@Armada651 Thank you for your help I greatly appreciate it.
I have downloaded and edited the files per the link above.
I am trying to fine the files to replace them but I am having no luck.

Do these files need to be compiled into an installer?
Or
Are the files located on my HD but not in the Revive folder?

[2017-02-22 19:25] Armada651 commented on #508
Hahaha, no that's the source code, and that doesn't compile into an installer, it compiles into a whole bunch of binaries and libraries.

Normally you'd have to wait until the next release, but I just released a new version an hour ago so you can use it right now. Just download it here: https://github.com/LibreVR/Revive/releases

[2017-02-22 19:27] Armada651 commented on #403
I've done a lot of research on The Climb and I've found the reason why reprojection is bugged in this game.

Revive assumes that applications will request tracking data for the next frame, render the frame based on that tracking data and then submit the frame.

Instead, The Climb requests tracking data for the frame after the next frame, and then submits a frame based on the tracking data returned

[2017-02-22 19:29] Armada651 commented on #507
What do you mean VR service crashes? Sounds like a problem with VRidge, not Revive.

[2017-02-22 19:34] OutlawViking commented on #508
Too funny. Thanks for all the help.

[2017-02-22 20:45] 1Revenger1 opened #512 "The Unspoken Stuttering/Lag"
Not sure if this should go into the other issue or not, I just made a new one to be safe.
I got The Unspoken recently, and even with the latest version of Revive (1.0.5) I am getting missed frames. This does not change with any graphic settings within the game (whether it is low to high) although I do get less missing frames at the lower settings. Attached is a screenshot(the second is because I a

[2017-02-22 21:09] Armada651 commented on #511
New release has been uploaded, can you confirm that it is now fixed?

[2017-02-22 21:12] Armada651 commented on #512
Unfortunately both The Climb and The Unspoken are CPU bottle-necked and rely heavily on tracking prediction which Revive doesn't support yet. It will probably require an update in OpenVR before it can be fixed.

[2017-02-22 21:13] Armada651 commented on #480
I'll be tracking the second part of the tracking latency issue in ticket #512.

[2017-02-22 21:13] #480 closed

[2017-02-22 21:14] Armada651 commented on #506
Then you may want to try enabling Force 32-bit mode in the options.

[2017-02-22 21:14] #504 closed

[2017-02-22 21:16] Strongpillow commented on #512
That's unfortunate. Unspoken was the main reason for setting up Revive but Super Hot was fantastic so thanks for that and keep up the amazing work!

[2017-02-22 21:17] Armada651 commented on #512
It'll be fixed eventually, but it may take a while though.

[2017-02-22 21:19] randybaton opened #513 "AaaaaAAaaaAAAaaAAAAaAAAAA!!! for the Awesome"
Has anyone go this to work? I brought int on Steam not realizing it was Rift only.

If i open it within Steam using th theatre the game itself is shown on a screen in front of me as if its in an extended desktop display. 2images ona screen.

If I try to inject the exe directly via revive I only see the non VR version on my desktop, nothing in the headset.

[2017-02-22 21:21] Armada651 commented on #513
This is a DK2 game, only CV1 games are supported.

[2017-02-22 21:21] #513 closed

[2017-02-22 21:23] jtryon commented on #431
Not sure if this is still on your plate or not.  Just thought I'd mention I'm still interested in a fix.

[2017-02-22 21:24] Armada651 commented on #425
I finally got to this level and the super power works fine. But you have to press both the grip and the trigger on both controllers at the same time to use it.

[2017-02-22 21:26] 1Revenger1 commented on #512
Oh that's to bad, it's a great game as well. Thanks for trying at least and doing what you can.

[2017-02-22 21:28] Armada651 commented on #512
One workaround you can try is going to your SteamVR settings, go to the developer page and enable "Always on reprojection". That should reduce the CPU bottleneck, but increase tracking latency.

Remember to turn it off again when you're done playing The Unspoken.

[2017-02-22 21:31] octo1234 commented on #511
1.0.5.1  with latest Steam Beta  I'm having the same problem

[2017-02-22 21:37] Armada651 commented on #431
This is a bit more difficult than fixing a few tracking latency and controller detection issues. But I'll attach a milestone to make sure I won't forget about it in the next large release.

[2017-02-22 22:36] mikegomak commented on #480
Thanks for the update.

I can confirm no skipped frames anymore so it's a little slicker, but the tracking issue is too severe for me to be playable as I'm a bit too sensitive to it. Thanks again.

Sent from my iPhone

[2017-02-23 00:39] mapotter99 commented on #511
Same issue here in multiple programs with 1.0.5.1

At least the following are affected:

Dreamdeck
Showdown
First Contact
Touch Tutorial

[2017-02-23 00:54] mapotter99 commented on #511
Add "Dear Angelica" to the list of programs affected by this nasty problem.

Lucky's Tale, Henry, Quill, Medium, I Expect You To Die, and Unspoken all work fine.

[2017-02-23 01:14] Lucid360 commented on #351
..so this is being adressed by the developers:

"Just this week I played Dead and Buried with Vive users. I could tell they were Vive users,” Rubin said. According to him, he knew they were Vive users because their in game voice chat was being distorted by the “hacks they were using.” Rather than condemning these actions, Rubin claims that, “we have done nothing to stop this right now and in fact

[2017-02-23 01:43] Armada651 commented on #511
Sounds like some kind of render target issue. It's likely that the headset is only showing one pixel for some reason.

[2017-02-23 01:50] Armada651 commented on #351
Great news, if it ends up being a problem with Revive after all I hope they'll let me know.

[2017-02-23 07:43] Chupacabra1989 commented on #512
yes this works much better now. hope in future this will be fixed unspoken is really a main reason for vr :D but thanks for the workaround awesome job.

[2017-02-23 07:47] Chupacabra1989 commented on #512
ah im such a troll havent seen the new release (-.-) i try this today and give feedback thanks for the fast release :)

[2017-02-23 10:00] zfarm commented on #359
I'm also getting the shutter using a gtx 1070, I'll have to check on cpu if that's important at this point. This may be irrelevant but also starring the sculpt always with mirror on...Will mess with rez and mirror settings

[2017-02-23 10:16] rtamotorsports commented on #376
how do you access the option, i cannot find it?

On Wed, Feb 22, 2017 at 10:12 AM, Jules Blok <notifications@github.com>
wrote:

[2017-02-23 11:02] Armada651 commented on #376
Add `IgnoreActivityLevel : false,` to the `revive` section of your steamvr.vrsettings.

Or wait until OpenVR-AdvancedSettings adds it to the Revive settings tab.

[2017-02-23 14:06] mikegomak commented on #512
A couple of quick questions as I'm having the same issues with an almost identical spec machine. How do I change the supersampling, and if I increase my RAM from 8GB to 16GB should I see a notable performance improvement? Just FYI I did need to turn off all AntiVirus software to get a descent improvement previously.

[2017-02-23 15:43] Chupacabra1989 commented on #512
@mikegomak

hey bro just install openVR then u can change the supersampling when u are in menue of the vive headset. im not shure but this can not be bad if you upgrade your hardware setup.  i give later feedback i also upgraded cpu and gpu i try it with the latest fix.

[2017-02-24 00:32] mapotter99 commented on #511
I resolved this by turning off SteamVR Betas and reverting to the current release version of SteamVR.

That said, a new problem with Dreamdeck has shown itself.  Dreamdeck completely closes when selecting a scene from the in-app menu. No crash... no freeze. The program just quits back to the Vive home screen. I'll create a new issue about this.

[2017-02-24 00:53] mapotter99 opened #514 "Oculus Dreamdeck Closes When Scene Selected 1.0.5.1"
After installing Revive 1.0.5.1, I am not able to select a scene in Oculus Dreamdeck without the application closing out to the Vive home screen. The Dreamdeck program completely shuts down.

I resinstalled 1.0.4, and Dreamdeck worked correctly, so it must be coming from something in 1.0.5.1.

[2017-02-24 08:40] dlazares commented on #359
Had the same problem today. Disabled reprojection and worked for me with an i7 and gtx 970

[2017-02-24 09:37] asampal commented on #359
@dlazares , IIRC turning off async reprojection stops judder at low model complexity, but it's still there when it goes up.

[2017-02-24 10:38] kvdv99 commented on #511
I would prefer to keep using SteamVR Betas, so I hope a new patch will be released.
WIth SteamVR beta + Revive 1.0.5.1  :  Dreamdeck, Showdown, First Contact and Dear Angelica are still not working.

Thanks to the dev(s) for all the hard work!

[2017-02-24 11:09] Chupacabra1989 commented on #512
ok i tested it and the performance is much better now it is playable but not perfect. thank u for the update :) btw i disabled supersampling in openvr (set back to 1.0) and enabled in unspoken options ingame high grafics. ( hamburger button on vive controller). also disabled reprojection it works really much better now. hope this help someone and sorry for my bad english lol.

[2017-02-24 17:10] Armada651 commented on #511
@kvdv99 I looked at the issue, it's not caused by Revive. There is a bug in the SteamVR beta, which isn't really surprising, it's a beta for a reason.

[2017-02-24 17:12] Armada651 commented on #514
Is this about the version of Dreamdeck shipped with the Oculus Store or are you talking about the version downloaded separately?

I assume the latter version, as that is the only one with a scene select menu as far as I know.

[2017-02-24 17:14] mapotter99 commented on #514
Primarily the version downloaded separately.

I tried the other version as well, and it exhibited the same problem when going using the controller to skip to the next scene.

This problem occurs with both the beta and release version of SteamVR.

[2017-02-24 17:16] Armada651 commented on #514
I would assume commit 1d849d27ad7306449b9bda835795c2e290659c85 would cause this behavior, but that was included in 1.0.4.

Are you completely sure 1.0.4 does work?

[2017-02-24 17:19] mapotter99 commented on #514
Yes. I specifically tried uninstalling Revive and installing 1.0.4 before posting.  That resolved the problem.

The problem returned when I updated back to 1.0.5.1.

[2017-02-24 17:54] CarrotSurvivor commented on #501
sorry this took so long, system specs ... gtx 1080 and i7 4790k @4.5 ghz 16gb RAM games on SSD
![45](https://cloud.githubusercontent.com/assets/24323759/23314500/4f0ea8ea-fa90-11e6-8e8e-52426f63fbcf.jpg)

[2017-02-24 17:56] CarrotSurvivor commented on #501
so as you can see in the picture, theres no graphics settings...... there used to be stuff to change in between those arrows... but when i click the arrows ... obvously nothing is happening... nothings changing .. i can adjust any of the settings.. game is unplayable right now, the graphics are stuck on low settings ... before i uninstalled then reinstalled the game, it was working perfectly

[2017-02-24 22:34] MSFX commented on #405
Hey, I'm still seeing this issue :(
How did people fix it?

[2017-02-24 22:45] Armada651 commented on #405
I've never encountered the issue, so I can't fix it either.

[2017-02-25 02:55] gormanj commented on #405
This issue might be the settings on your Nvidia driver. Someone gave out a tip to reset the settings to their defaults in the Nvidia driver and then set to performance priority. I bet you a tweak could fix it.

[2017-02-25 15:23] d1360 opened #515 "Cat flight BBC VR"
It stars but cant click/keys to begin the experience.

Wondering if a controller is required ( i dont have 1 atm) or they added Touch but not working.

[2017-02-25 15:41] Armada651 commented on #515
It uses the Oculus Remote instead of the Oculus Touch, so you'll have to turn off one of your Vive controllers. If you do that Revive will use the other one as the Oculus Remote.

Then you can just press the center of the touchpad to begin.

More info on the wiki: https://github.com/LibreVR/Revive/wiki#oculus-remote

[2017-02-25 17:00] kvdv99 commented on #511
Yes, correct,  opting out from SteamVR beta solved all issues.
Dreamdeck also works perfectly.
Thanks!

[2017-02-25 17:04] mapotter99 commented on #511
@kvdv99, are you having the problem I described in issue #514, where Dreamdeck closes when selecting a scene?

[2017-02-25 17:32] kvdv99 commented on #511
Ah I didn't try the selection (how do you select?). I just let autoplay start and then click thumbpad up to skip to the next. Didn't watch them all, I think about 5 or 6, and they all worked.

Kris

[2017-02-25 17:36] mapotter99 commented on #511
There are two versions of Dreamdeck... a version that came with the Oculus Store and a version that can be downloaded separately. The separate version allows you to press down at the Dreamdeck homescreen, and allows you to select which scene to start.

I should add that I'm only having the problem on 1.0.5.1.

[2017-02-25 19:33] SandmaN666 opened #516 "Does Revive automatically update to latest version?"
...or do I need to manually install the new version every time?  Inquiring minds want to know!

[2017-02-25 20:25] Armada651 commented on #516
The second time you start up SteamVR, Revive will ask whether you want to check for update automatically.

[2017-02-25 21:39] SandmaN666 commented on #516
Is there a version number somewhere that I can check to make sure I'm running the latest?  I don't recall seeing a notice saying 'do you want to update automatically?'.

[2017-02-25 22:00] Armada651 commented on #516
There's a white triangle tray icon in your system tray, right-click it and select "check for updates".

[2017-02-25 22:13] mapotter99 commented on #514
I just ran Dreamdeck again for the first time in a couple days with 1.0.5.1. Today it worked fine. No clue why it is working fine now when nothing has changed.  Hopefully it stays this way!

I'll close the thread.

[2017-02-25 22:13] #514 closed

[2017-02-25 22:15] mapotter99 commented on #511
Well, today it's working fine with 1.0.5.1. Not sure what's up with that!  Anyway, glad to have everything working!

I must say, with all this wrapped up, 1.0.5.1 seems to be the most stable and best performing release yet... until Oculus or SteamVR breaks something again!

[2017-02-25 22:24] Usurper1 opened #517 "Edge of Nowhere atrocious resolution"
Hey. Im revisiting Edge of Nowhere now that I have a serious beefy computer and have since downloaded and installed the Advanced Settings tab...

I have the resolution super sampled a bit (both for apps and the compositor)...but it doesnt seem to have an effect on Edge of Nowhere, and there also doesnt seem to be an internal graphical setting within the game. The resolution is really, really terri

[2017-02-25 22:45] SandmaN666 commented on #516
Roger that, thanks!

[2017-02-25 23:09] Armada651 commented on #517
Make sure you're not on the SteamVR beta, if you're not on the beta, then try enabling the "Render Target Override".

[2017-02-25 23:11] Usurper1 commented on #517
How do I know of I'm in the beta...?

And can you explain to me the target override? I saw it but wasn't sure what it was for...

[2017-02-26 00:04] kvdv99 commented on #506
"Force 32-bit mode in the options" -> that's somewhere n the game options?

[2017-02-26 18:29] catbert7 commented on #512
Unfortunately, I have not been able to achieve any improvements with any of the solutions proposed here :( I was waiting to buy the Unspoken until this release so that the issue would be fixed; woops :p Unspoken was really the game that convinced me to buy VR so it's definitely sad that the wait will be longer. Not blaming though, I really appreciate that anyone has put so much charitable work int

[2017-02-26 20:03] bigtroy1114 opened #518 "Landfall"
Bad frame rate drops

[2017-02-26 20:32] Armada651 commented on #518
Going to need some more information than that.

[2017-02-26 20:34] bigtroy1114 commented on #518
I have a 970 and it runs poorly, what info do you need?

[2017-02-26 20:35] Armada651 commented on #518
At least full specs including CPU and OS + a screenshot of your SteamVR Frame Timings window during the frame rate drops. (Go to Settings > Performance > Display Frame Timing)

[2017-02-26 22:50] mikegomak commented on #512
Thanks all for your feedback and help. Although it's not dropping frames anymore the lag still leaves it unplayable for me as whilst I don't get vomit sick right away I do immediately suffer from some dizziness and discomfort that I can't become accustomed to. I'll keep an eye on this and am sure it will be 100% soon. Thanks for your work on this so far - you still rock!

[2017-02-27 14:03] Chupacabra1989 commented on #518
@bigtroy1114 wow dude u know that this guys here do that for free for everyone. the only poorly thing is your thread here without any information for the developers .

[2017-02-27 16:17] Armada651 commented on #518
@Chupacabra1989 I think "What info do you need?" was more of an honest question, I don't think he meant to say anything bad with it.

[2017-02-27 16:19] Armada651 commented on #517
Check the Library > Tools window.

The target override is a bad name for it. It just means that Revive will ignore the resolution scale multiplier that the game indicates.

[2017-02-27 17:07] bigtroy1114 commented on #518
It was just a question.Haven't had time to send information yet because I'm
working.

On Feb 27, 2017 11:17 AM, "Jules Blok" <notifications@github.com> wrote:

[2017-02-27 18:53] octo1234 opened #519 "Assetto Corsa + 1.0.5.1"
First off thank you so much for Revive.

Assetto Corsa has been developed to maximise CPU usage for physics and will use more CPU as long as the GPU keeps up.
Revive 1.0.4 made a big leap in releasing the cpu the game would run with 90 PC usage and the GPU could run flat out. This would give me solid 90 FPS with x2 super sampling.

With the latest revive 1.0.5.1 the CPU runs much lower and see lot

[2017-02-27 18:57] Armada651 commented on #519
Interesting, it looks like Assetto Corsa benefited from the same hack as Dirt Rally: https://github.com/LibreVR/Revive/blob/master/Revive/SessionDetails.cpp#L7

I made this hack specific to Dirt Rally to prevent possible issues in other games. If Assetto Corsa acts the same way as Dirt Rally then I can just add Assetto Corsa to that list.

[2017-02-27 19:19] octo1234 commented on #519
Happy to test it

[2017-02-27 19:20] octo1234 commented on #519
Oops wrong button

[2017-02-27 23:39] #518 closed

[2017-02-28 11:52] SimplexPL commented on #512
@Armada651
Would  a fast CPU mitigate the issue? (like i7 6700K overclocked to 4.5GHz)

[2017-02-28 12:37] Armada651 commented on #512
@SimplexPL It would probably help a bit, but I don't think it would mitigate this issue. What we need is a change in OpenVR that allows it to work with the larger tracking prediction.

[2017-02-28 13:00] SimplexPL commented on #512
@Armada651 Thanks for clarification. I hope Valve is aware of this issue and they will update OpenVR accordingly.

[2017-02-28 13:34] mikegomak commented on #512
This is interesting. I have quite a large play space. Could reconfiguring the play area and setting up as "Standing only" help with the tracking issue in that case?

Sent from my iPhone

[2017-02-28 13:37] Armada651 commented on #512
@mikegomak Your room setup has nothing to do with it. The problem is that The Unspoken requests 2 frames of tracking prediction whereas OpenVR was only ever designed around 1 frame of prediction.

[2017-02-28 14:25] mikegomak commented on #512
Thanks for clarifying for me as a non techie.

Sent from my iPhone

[2017-02-28 14:38] Werbel commented on #512
I'm having horribly bad lagg issues most of the time after last update. Tracking is a little better but frame drops are insane.

Today Unspoken will get new patch and i will test it after that providing logs etc.

[2017-02-28 19:53] jmbihorel commented on #359
I have the same problem, when I stay in a small part of the main box, (maybe a quarter) I can sculpt without any problems, but as soon as I start to get higher resolutions, it starts to make a lot of drop frames.

[2017-03-01 01:23] Usurper1 commented on #517
Thanks! It did work, but performance/framerate then became terrible. I scaled it down a little...didnt add too much. Anyway...it seems that Robinson: The Journey doesnt respond to either the regular Application supersampler...or the Revive target override...? The game has a resolution scale setting, but Id like to try and push for a little more. Thoughts...?

[2017-03-01 01:25] Armada651 commented on #517
You're on your own for that, it's difficult enough to get Oculus games running on OpenVR without supersampling.

[2017-03-01 19:07] CarrotSurvivor opened #520 "Robo Recall"
??

[2017-03-01 19:16] thechosencarrot commented on #520
I literally have the same question

[2017-03-01 19:41] TomMann commented on #520
no, just tested it doesnt. headset error

[2017-03-01 19:49] jaorg1234 commented on #520
It works. You have to manually inject the Robo Recall exe, then it starts up as usual.

Right click on the Revive tray icon after having started SteamVR, then choose the Robo Recall .exe in the Oculus folder.

[2017-03-01 20:00] Armada651 commented on #520
Can you tell me what the correct path is to the executable? Then I can update the heuristics.

[2017-03-01 20:06] Chupacabra1989 commented on #512
is there any possibility to send this information to valve support? im not sure if nobody gives that as a report that they will take care of this problem.

[2017-03-01 20:07] Chupacabra1989 commented on #512
@SimplexPL i got this cpu with this 4,5 ghz overclocked it works a bit better but still this issue u can try it yourself if you got also this cpu

[2017-03-01 20:10] thechosencarrot commented on #520
So jaorg1234, did you actually buy Robo Recall and play in successfully?  I really want to buy it asap (if it works) . thanks

[2017-03-01 20:13] CarrotSurvivor commented on #520
just bought the game, installing now... Armanda ill give you .exe path... assuming that means the folder it is in? without the patch, revive was lauching the game via the modbranch.exe or something.... the devs have released all the files of this game for mods.... could help alot with making it work flawlessly in revive im assuming

[2017-03-01 20:13] TomMann commented on #520
Can confirm with jaorg1234 steps it works fine, but the normal way as I mention doesn't work.

[2017-03-01 20:13] TomMann commented on #520
E:\Rift\Software\epic-games-odin\RoboRecall\Binaries\Win64\RoboRecall-Win64-Shipping.exe

[2017-03-01 20:16] Armada651 commented on #520
Ok, the problem is currently Revive assumes there will only be one executable in `Binaries\Win64` which is incorrect. I could also check if it ends with `-Shipping.exe` but then there are games that don't have that either.

So the way to fix this is by prioritizing executables that end with `-Shipping.exe`

[2017-03-01 20:16] TomMann commented on #520
not sure that is correct, I renamed the other exe to .txt and it still didnt work.

[2017-03-01 20:18] Armada651 commented on #520
@TomMann That's because Revive doesn't use the filesystem to detect it. Revive tries to find the main executable based on a manifest provided by the Oculus client.

[2017-03-01 20:39] louvatb commented on #520
It works on my side. As @jaorg1234 said, you have to inject the "RoboRecall-Win64-Shipping.exe" manually via your desktop Revive icon!

[2017-03-01 20:46] Chupacabra1989 commented on #520
awesome the same FUCKING issue like in the climb and unspoken cant believe that. such a laggery shit -.-

[2017-03-01 20:48] TomMann commented on #520
Chupacabra1989 feel free to learn to code and provide a fix, although it sounds more like an issue with your rig not coping than this project.

[2017-03-01 20:54] Chupacabra1989 commented on #520
this is not the fault from revive i said this before in another post. and no its not a problem with my rig got a i7 6700k and a gtx 1080. its not a revive problem its a open vr problem from valve software

[2017-03-01 20:57] Armada651 commented on #520
Can you guys test this version: https://github.com/LibreVR/Revive/releases/tag/1.0.6

It should fix the issue, but you may need to restart SteamVR after installing the update. (or just don't have SteamVR running during the update)

[2017-03-01 21:02] jaorg1234 commented on #520
@Chupacabra1989 for me it runs very fluidly and I only have a i5 4590 + R390.

@Armada651 launches fine now with the fix, thanks for the quick update!

[2017-03-01 21:02] louvatb commented on #520
It works fine on my side @Armada651 !! Thanks for the update.

[2017-03-01 21:07] Armada651 commented on #520
Thanks for the feedback, I will push the fix to the update checker then.

[2017-03-01 21:12] octo1234 commented on #519
Hi did this make it into the new 1.0.6?

[2017-03-01 21:30] CarrotSurvivor opened #521 "Make robo recall think I have 3 rift sensors"
The game has a built in functionality that tells the game you have 3-4 rift sensors, this disables the "please turn around to face sensors" UI that pops up when you turn around ... obviously with vive, we have 360 by defualt... any way to trick the game to think I have 3 sensors so this stops  popping up? It's quite annoying

[2017-03-01 21:38] Armada651 commented on #519
No, my advice right now is to install Revive 1.0.4 and then patch Assetto Corsa. After that you can safely upgrade Revive and Assetto Corsa will still use the old version.

[2017-03-01 21:43] Baestinebun commented on #520
Thanks for all info I will try it when I get home in few hours

[2017-03-01 21:57] KenshiHH commented on #521
oh yeah please, its really annoying

[2017-03-01 22:11] louvatb commented on #520
Note that Robo Recall has been clearly developped for Oculus Touch and you will feel it. I think it's more difficult to play the game with our HTC controllers!

[2017-03-01 22:15] Baestinebun commented on #520
I guess I have to wait then and see...

[2017-03-01 22:57] Armada651 commented on #521
It might be possible, but I'd *really* rather not do that. I'll look into it when I have time.

[2017-03-01 22:58] calibban opened #522 "tracking issue with unspoken come back"
hello,
unspoken have again the tracking issue, since the last update.
last week that was not perfect but i can handle it, now the game is not playable anymore.
thank you for your work.

[2017-03-01 23:40] whit0r commented on #521
That would be great if you could turn it off in some way, as its really annoying and spoiling a lot of immersion...

[2017-03-02 00:51] lghtanddrk commented on #520
I'm hearing that it prompts you to turn around and face the sensors when you turn around because it is looking for a 3rd sensor.  And, if the game is like it's predecessor it will be slightly awkward to use Vive controls.

[2017-03-02 00:53] Armada651 commented on #520
As always, that means we just need to work on making it better.

[2017-03-02 03:42] TheLANFan commented on #521
Please do if you can, it really is immersion breaking and annoying, as the tracking is perfect but the game still thinks I'm short a sensor and tries to have me face one direction. Not a deal breaker, but true 360 play is one of the advantages of Vive

[2017-03-02 08:52] franzbots commented on #489
Hello there !
I've just bought Robinson on steam, then updated Revive, and though, the game still doesn't work, with the warning message on screen "hardware issue : no VR headset available".
Did I miss something ?
Thanks.

[2017-03-02 09:00] gormanj commented on #489
Did you rename the xinput dll file as per Armada651 up above indicated in this thread? It did not work for me until I did that.

[2017-03-02 09:06] franzbots commented on #489
Sorry for the newbie question, but where is that dll ? I looked into the game exe folder, and into the revive exe folder too, but I didn't see that dll.

[2017-03-02 09:42] PJkeeh commented on #521
What would be the dissadvantage of doing this?

[2017-03-02 11:30] Chupacabra1989 commented on #522
i know you are sad about that im really sad too. but its not a problem from revive its an open vr problem. i also wrote this problem to steam support maybe they take a look on it.

[2017-03-02 11:51] Armada651 commented on #522
@Chupacabra1989 Don't bother Steam Support with it, there's nothing they can do about it. Leave this problem to me please.

[2017-03-02 14:41] Armada651 commented on #521
@PJkeeh Because you'd have to fake information about a sensor that's not really there. That's a bit of a can of worms for a compatibility layer.

[2017-03-02 14:44] PJkeeh commented on #521
Agreed. Only in this case, there is no such information sadly.

[2017-03-02 14:47] Armada651 commented on #521
Yeah, so I'll look into adding a game-specific hack when I have time.

[2017-03-02 15:14] gormanj commented on #489
It's in bin/win_x64 in the game folder.

[2017-03-02 15:53] calibban commented on #521
there is a mod, i haven't try it.
https://forums.unrealengine.com/showthread.php?138390-Project-Turn-off-Turn-Around-Warning

[2017-03-02 16:00] franzbots commented on #489
That's what I though.
But in that folder, I don't have that dll.
Here is a screenshot of it :
![sans titre-1](https://cloud.githubusercontent.com/assets/26135816/23515119/893260d8-ff69-11e6-8a19-3b7419a18f1f.jpg)

[2017-03-02 16:08] whit0r commented on #521
it does not work for me, it shows up in the mod list and you can activate it but the message still shows up...at least for me

[2017-03-02 16:17] gormanj commented on #489
Okay, sorry about that. I think you need to run the patch from revive in your system tray (right click). Then select that .exe in the that folder. Then after you patch, you will have the file in the post that you can rename.

[2017-03-02 16:50] Armada651 commented on #489
@gormanj It's no longer necessary to rename it, Revive will use both DLL names since version 1.5

[2017-03-02 16:53] franzbots commented on #489
Yes, excellent, it works now. Indeed, just patched it. Thanks guys !

[2017-03-02 20:17] likwidtek opened #523 "Is there a way to not have all Revive/Oculus Home games mixed into my games list while in VR?"
I would love to be able to have the option to not have Oculus Home Titles mixed into my SteamVR library but to be a separate tab or button at the bottom.  Is there a way to filter them out automatically?  It would really help.   Having them all plunked into my library by default makes everything cluttered.  Not to mention there are some redundancies when I have the same title on both platforms.

[2017-03-02 20:43] AndreElijah opened #524 "Robo Recall Through UE4 Launcher"
Is there a way to get Revive injected into the UE4Editor that ships with Robo Recall's mod tools in the UE4 Launcher? Can Revive be injected into the version of the game executable that comes with the mod tools?

[2017-03-02 20:44] Armada651 commented on #524
You can try, there should be a Revive tray icon while SteamVR is running. Right-click it and select ` Inject...` that'll allow you to manually launch an application through Revive.

[2017-03-02 20:56] gormanj commented on #489
Thanks Armada651! I'm really looking forward to RoboRecall.

[2017-03-02 23:17] andybak commented on #523
The main problem is that Revive titles don't behave correctly. They forget favorites and categories and defeat any attempt I make to organize them. Not sure if this is Revive specific or true of all games that appear as 'shortcuts'. But it results in the same problem.

That's the main reason I'd prefer to keep them separate - because it breaks all my filtering of other titles inside Steam

[2017-03-03 02:37] Armada651 commented on #523
This is a problem with SteamVR, you should file a bug report on their forum: https://steamcommunity.com/app/358720/discussions/

Revive registers all Oculus games it detects with OpenVR and it relies on OpenVR to store this information. SteamVR subsequently uses OpenVR to display all registered applications in your library.

[2017-03-03 10:00] wfunction opened #525 "Abysmal performance in Robo Recall (as well as other Revive games IIRC)"
The performance is fine when nothing is going on but it tanks when enemies and/or lots of particle effects are on screen. Turning the graphics settings down doesn't seem to do much.

I've tried turning reprojection off to no effect. I also don't have any form of SS turned on (not in the settings file and not in the SteamVR [beta] settings).

Other people on /r/vive are reporting the same problem,

[2017-03-03 10:34] hyperseven commented on #525
What other people on /r/vive? Cant say I have seen and threads about this.

[2017-03-03 10:39] kvdv99 commented on #520
I'm glad that Revive makes it possible to allow me to play Robo Recall!   Just hope there's some workaround for the awkward controls we now have to deal with.  I hope not all future Touch titles will use a control scheme like this, it's really annoying.  Thanks in advance for all your work on Revive!

[2017-03-03 10:46] alivedoom commented on #525
Same here... as soon as I hit enemies i got massive fps drops... I just reinstalled the whole SteamVR and nvidia drivers and gonna try again.

My specs:
GTX 980Ti
i5 4670k
16GB RAM

[2017-03-03 11:04] wfunction commented on #525
hyperseven:

https://www.reddit.com/r/Vive/comments/5x9i1r/anyone_else_getting_abysmal_performance_in_robo/

alivedoom:

Let me know if you stumble upon a fix! Are you using the beta branch?

[2017-03-03 12:35] jmkraap commented on #525
I think this issue is related to this: https://github.com/LibreVR/Revive/issues/512

Hopefully Valve implements this in OpenVR soon or Revive may soon be unusable with newer titles.

[2017-03-03 13:19] Armada651 commented on #525
Do *not* use the beta branch, it has a number of bugs that *will* break Revive. Stay on the stable branch.

@jmkraap It's very unlikely to be related, as the Unreal Engine does not usually suffer from CPU bottlenecks on their rendering backend.

[2017-03-03 13:27] kvdv99 commented on #525
using SteamVR but *not* the beta
I enabled Asynchr reprojection, but not interleaved
with 1080GTX
frame rate remains very high!
runs extremely smooth!

[2017-03-03 14:47] alivedoom commented on #525
My performance got a tiny bit better by reinstalling the drivers though i remembered i had the front cam on and now its disabled so that gave that extra bit i think.

But NOT allowing interleaved reprojection actually did the job for me for now. Try it!!!!

[2017-03-03 15:34] wfunction commented on #525
Turning off Interleaved did it for me too :) I didn't even realize I had it turned on as I thought I had turned it off awhile ago.

It's playable now. Not 90fps across the board but 90fps most of the time which is good enough!

[2017-03-03 16:11] 04nd01 commented on #525
Something else I noticed that might be relevant to performance. I've had that dynamic resolution setting (don't remember the exact name) set to the default setting 0.7-1.0. And not once during the periods of bad performance did I notice the game actually lowering the res. When I set the max resolution to 0.7 I could immediately tell because everything looked horrible. Is it possible that this feat

[2017-03-03 16:30] 04nd01 commented on #521
Yes, there is a mod but that's no real solution since you won't get into the highscores and I think you can't play through the story.

Epic already announced an official update to take care of 360 setups within the month. So this might not be an issue for much longer.

[2017-03-03 17:46] Armada651 commented on #525
@04nd01 That is correct, Revive currently does not yet report a performance scale: https://github.com/LibreVR/Revive/blob/master/Revive/REV_CAPI.cpp#L823

[2017-03-03 18:20] Techy76 commented on #18
I'm experiencing the same issue with apps like Airborn VR 1944.
I have to deposit my headset on the floor to be at the proper height. There's a camera reset feature in the app but like GormanJ says. it only adjusts the Horizontal position.
I haven't purchased any Oculus titles because I fear that they might not work properly.

[2017-03-03 18:37] gormanj commented on #18
Everything I've tried on Oculus seems to be working pretty well now (The Climb, Pinball FX 2 VR and some freebies). I recommend getting Open VR Advanced settings as it has features to reset the floor without leaving the game.

[2017-03-03 18:54] KenshiHH commented on #521
AFAIK it will only address the Rotation after a Teleportation with a 360 Setup, 360° Rift Owners don't have the turn to the sensor message in the first place

[2017-03-03 19:02] Armada651 commented on #18
@Techy76 That is indeed what I've been expecting from some other games. It seems that the Oculus SDK still has a floor offset, even in seated mode unlike OpenVR.

I plan to fix that at some point, but it's currently not a priority.

[2017-03-03 19:05] 04nd01 commented on #521
They mentioned only the teleportation but there are Oculus users who play 360° with two cameras so meybe they'll change that too.

[2017-03-03 19:13] Werbel commented on #525
Im having FPS issues with Robo Recall.

It's weird because all world seems fine and hight fps, just enemies and weapons and destructibles seems to be low fps.

Everyone has it? I cant find anyone who described it like that...

[2017-03-03 19:24] jaorg1234 commented on #525
Do you have interleaved reprojection on? If it is on and the game goes down to 45 FPS, moving objects (including enemies) will have some kind of "ghosting" effect that may look like "low FPS" for you. Try turning that option off if it can maintain 90 FPS without it.

[2017-03-03 19:42] gormanj commented on #524
Run once without patching by using launch game on project file. Let compile shaders (set shade programs to high priority if too slow for you). Then PATCH and run again by using launch game on project file. Confirmed working. I bought the game and think it is worth every penny. Get the Teleport 360 mod if you have the paid version (mods don't run on Epic freebie). Work needs to be done to turn off

[2017-03-03 19:49] gormanj commented on #521
BTW, does anyone know if you can connect a third base station and will it fix the 3 sensor issue?

[2017-03-03 19:54] CarrotSurvivor opened #526 "why is it that revive games only perform well when i do this"
games run terrible when async or interleaved reprojection is turned on. turn Every one of those options off and game performs better yet not perfect.. but while the game is running, if i then tick off "always on reprojection" steam vr requires a restart for this to actually turn on ..... yet the performance jumps dramatically when its checked off without restarting anything... its so strange.  rob

[2017-03-03 20:01] CarrotSurvivor commented on #501
?

[2017-03-03 20:55] KenshiHH commented on #521
no, as of right now steamvr only supports 2 lighthouse base stations

[2017-03-03 21:06] Werbel commented on #525
I'll try with reprojection off but im almost sure it will change nothing.

Im pretty well informed about how reprojection works and im really sensitive about it and can recognize even 1 frame drops or reprojection, but that was something i've seen first time.

[2017-03-05 14:16] Balderick commented on #521
That statement is simply not true.   Valve have been shipping steamvr tracking hdks for over one year now.   This means steamvr definitely supports extra base stations and has done for over twelve months.

Valve devs describe steamvr tracking as being limitlessly upscalable meaning that simply adding more vase stations adds "playroom" size.   Valve devs even suggested how much this rocks for mobil

[2017-03-05 15:54] ciaran036 commented on #399
Any update on this one?

[2017-03-05 16:08] Armada651 commented on #399
What's your operating system?

[2017-03-05 22:59] #519 closed

[2017-03-05 23:14] Armada651 commented on #519
Any reason why you closed the issue?

[2017-03-06 07:37] octo1234 commented on #519
I can't work out of it is a revive issue a game patch issue or a steamvr beta issue.
1.0.4 worked the graphics thread harder but I'm now not sure that was a good thing. I'll do some more testing.

[2017-03-06 23:22] MetalHut opened #527 "Robo Recall - No vibration"
I'm using the latest version of ReVive (1.0.6). Robo Recall is running fine but I don't have any vibration. I have check the in-game setting if I had enable controller vibration and I don't have any.

I tried to launch the game with Steam VR Beta and with no success. Did I miss something ?
When I launch Bullet Train, I got vibration.

[2017-03-06 23:24] Armada651 commented on #527
Can you try out [RoboRevive](https://github.com/LibreVR/RoboRevive)? Let me know if you get vibration using that mod.

Also please do not use the SteamVR Beta with Revive, that's just asking for trouble.

[2017-03-06 23:27] MetalHut commented on #527
Well I got a friend who have also an HTC Vive and Robo Recall and he has vibration with Steam VR Beta. So I tried it.
I install RoboRevive but how does it work ? Does it work in the main campaign ?

[2017-03-06 23:30] Armada651 commented on #527
That page explains both how to use it and what it does. So what exactly is your question?

[2017-03-07 23:40] DrakeLandon opened #528 "Superhot VR Endless mode revive Shortcut Launch Failed - Failed to Launch Superhot VR"
I recently installed the Superhot endless mode update and wanted to play it through revive. I booted up revive and upon attempting to launch Superhot from the revive dashboard, it simply responds with a noise and nothing happens. When launching it directly from steam, I get a notification that says Steam- Shortcut Launch Failed Failed to Launch Superhot VR. I can't seem to find anything to fix thi

[2017-03-07 23:42] Armada651 commented on #528
Try rebooting SteamVR, if that doesn't work please upload your log files from `%APPDATA%\Revive`.

[2017-03-07 23:51] sirchandistroix commented on #528
ditto for me, PC restart and SteamVR restart - still cannot launch since downloading the update.

[ReviveInjector.txt](https://github.com/LibreVR/Revive/files/826184/ReviveInjector.txt)
[ReviveOverlay.txt](https://github.com/LibreVR/Revive/files/826185/ReviveOverlay.txt)

[2017-03-07 23:51] DrakeLandon commented on #528
[ReviveInjector.txt](https://github.com/LibreVR/Revive/files/826188/ReviveInjector.txt)
[ReviveOverlay.txt](https://github.com/LibreVR/Revive/files/826189/ReviveOverlay.txt)

[2017-03-07 23:52] Armada651 commented on #528
Can you check if this file exists?

[2017-03-07 23:54] DrakeLandon commented on #528
There is the superhot_Data, superhotvr_Data and the superhot.exe

[2017-03-07 23:54] DrakeLandon commented on #528
at this file location I mean

[2017-03-07 23:55] Armada651 commented on #528
What happens if you try and launch superhot.exe?

[2017-03-07 23:56] DrakeLandon commented on #528
So it launches what seems to be the game with a weird frozen shot. I'll try launching steam VR

[2017-03-07 23:57] Armada651 commented on #528
That's fine, at least it launches. I'm not sure what's going on.

You didn't move the Software directory to another harddrive right? Can you try restarting Steam and running it as the Administrator?

[2017-03-07 23:58] DrakeLandon commented on #528
Yeah that does not seem to fix it, it is still a frozen screen of the game. I have not moved my directory. I'll run steam as administrator.

[2017-03-08 00:01] sirchandistroix commented on #528
Just chiming in to say I have had the same results as @DrakeLandon so far. Could it be that it is looking for superhotVR.exe when the file name is superhot.exe?

[2017-03-08 00:02] DrakeLandon commented on #528
Ok, so, I ran steam as administrator and superhot.exe along with steam VR. The superhot game is still a frozen shot whith still no ability to play it. When I put on the headset I am still at the vive hub.

[2017-03-08 00:02] Armada651 commented on #528
@sirchandistroix That is correct, I was reading over that last part.

[2017-03-08 00:03] Armada651 commented on #528
Okay here is the fix: Superhot changed the filename of the executable, but Revive still has the old one cached.

I recommend you re-install Revive, that will clear the cache, you can just install over your existing installation.

[2017-03-08 00:04] sirchandistroix commented on #528
@Armada651 Thank you, much appreciated. I will give this a shot right now and report back.

[2017-03-08 00:04] DrakeLandon commented on #528
Same, thanks guys.

[2017-03-08 00:06] Armada651 commented on #528
I'll look into either refreshing this information more often.

I'll probably have the Revive dashboard always use the information from Oculus directly rather than reusing the same information used to add the games to your Steam library.

[2017-03-08 00:09] sirchandistroix commented on #528
Confirmed, I reinstalled Revive and the updated SuperhotVR now works A-OK.

[2017-03-08 00:15] DrakeLandon commented on #528
Yep, It works! Thanks again, excellent feedback!

[2017-03-08 03:44] teaguru22 opened #529 "Superhot VR issue"
No problems with any other games through revive.
I go to launch super hot and it just gives me a dull beep sound every time i click it. Reinstalled, rebooted etc.
Any help is appreciated.
Thanks

[2017-03-08 04:32] teaguru22 commented on #529
saw other post. reinstalled Revive, relaunched steamvr  and everything is good to go. Thanks for the great work.

[2017-03-08 04:32] #529 closed

[2017-03-08 11:22] Antornth opened #530 "robo recall not working"
i was reinstalling revive for the new superhot update and then decided to play some robo recall and when i opened it in the revive tab it put the file explorer and in the bottom right it said "robo recall mods (*.robo). and i have tried to reinstall revive and oculus and robo recall but nothing worked.

[2017-03-08 11:27] Armada651 commented on #530
Sounds like you might've installed an older version, try installing the latest one: https://github.com/LibreVR/Revive/releases/tag/1.0.6

[2017-03-08 11:48] Antornth commented on #530
will just updating it work?

[2017-03-08 11:48] Armada651 commented on #530
Yes

[2017-03-08 11:54] Antornth commented on #530
it worked thanks :)

[2017-03-08 11:54] #530 closed

[2017-03-08 16:01] Ironknight456 commented on #455
@NightHammer1000 you are my god now

Thanks you so much for this!

[2017-03-08 16:28] ZC2K opened #531 "SteamLink streaming for Non-Steam Games not working while Revive is installed"
Quite not sure if i am the only one with this issue. But if Revive is installed, i can't stream Non-Steam Games from Steam to my SteamLink. Sound is there but no picture, also the Occulus-Background-Process is crushing when streaming starts.
If i uninstall Revive everything works fine.

[2017-03-08 16:29] Armada651 commented on #531
I have a SteamLink myself and have no problem running Non-Steam games. Are you running both SteamVR and SteamLink streaming at the same time perhaps?

[2017-03-08 20:29] fredinator opened #532 "Games not being displayed in vr"
I installed revive and button and games are showing up but when I start anything it just gets displayed on my monitor and nothing happens in vive

[2017-03-08 20:54] Armada651 commented on #532
Post your logs from `%APPDATA%\Revive`.

[2017-03-08 20:58] fredinator commented on #532
From ReviveInjector.txt
Launched injector with: "C:\Program Files\Revive\Revive\ReviveInjector_x64.exe"  /base "Support/oculus-dreamdeck-nux/Dreamdeck/Binaries/Win64/Dreamdeck-Win64-Shipping.exe" -vr -dreamdeck=NUX
Creating process: C:\Program Files\Oculus\\Support/oculus-dreamdeck-nux/Dreamdeck/Binaries/Win64/Dreamdeck-Win64-Shipping.exe -vr -dreamdeck=NUX
Injecting DLL: C:\Program Files\Revive\R

[2017-03-08 21:00] Armada651 commented on #532
You're not on the SteamVR Beta right?

[2017-03-08 21:02] fredinator commented on #532
I guess not ... Got my vive yesterday and installed everything then

[2017-03-08 21:02] Armada651 commented on #532
Ok good, have you tried restarting your PC?

[2017-03-08 21:03] fredinator commented on #532
No. Only restarted steam vr and stuff. I'll try that

[2017-03-08 21:09] fredinator commented on #532
Lol I feel stupid ... restating worked. There was no mentioning anywhere I should do that though
Thanks

[2017-03-08 21:13] Armada651 commented on #532
Actually I think you skipped step 6 of the ReadMe, restarting your PC is just a sure-fire way to do it.

[2017-03-08 21:13] #532 closed

[2017-03-08 21:18] fredinator commented on #532
Yeah I did not follow the link in step 6 to the error handling from the installation instruction because I got no error

[2017-03-08 21:45] Armada651 commented on #532
Yeah the two games you started don't seem to throw an error, but that is still probably the reason why they failed.

[2017-03-08 21:56] fredinator commented on #532
Alright. Thank you

[2017-03-09 01:20] c9709062 opened #533 "AirMech command"
AirMech command I can not run after the game is updated.
Help me play games.

[2017-03-09 04:20] rclough commented on #511
can confirm this is happening to me with the SteamVR beta, works once I revert to regular steam.

[2017-03-09 04:36] #533 closed

[2017-03-09 04:44] CarrotSurvivor opened #534 "superhot after update launching to black screen."
i reinstalled the game, revive , retarted steam  vr .. everything.. its no longer working after the forever update :( pls help

[2017-03-09 08:47] ZC2K commented on #531
No. At first i couldn't stream at all or with very low FPS because of TriDef (fake VR). Then everything worked (after removing TriDef) except Non-Steam Games. But if it works for you then i will do some testing, because this means for me that it must work with Revive installed.

[2017-03-09 17:10] maestro72x commented on #527
Goto the settings and turn on Vibration in the game...

[2017-03-09 19:14] whit0r opened #535 "Mission:ISS Entitlement Check Failed"
Hi, the just for free released ISS-Exp doesnt start up, it goes only to the Failed Status...

[2017-03-09 19:15] Armada651 commented on #535
https://github.com/LibreVR/Revive/wiki/Troubleshooting#im-getting-an-entitlement-error-or-oculus-rift-not-found

[2017-03-09 19:17] whit0r commented on #535
Holy macaroni...that was quick and it worked. Thanks bro.

[2017-03-09 19:20] Armada651 commented on #535
No problem.

[2017-03-09 19:20] #535 closed

[2017-03-09 21:51] CarrotSurvivor commented on #528
its not working anymore :( it just launches to a black screen now ive done everything .. used to work perfectly

[2017-03-09 22:00] sirchandistroix commented on #528
did you reinstall Revive? My power has been out the last few days, can't see for myself.

[2017-03-09 23:15] CarrotSurvivor commented on #528
yes, restarted steam vr, PC, reinstalled super hot .... its not working .. just launched into a black screen

[2017-03-10 02:33] CarrotSurvivor commented on #534
? nothing i do is fixing it somethings wrong

[2017-03-10 07:05] sirchandistroix commented on #528
got power back on and fired up Superhot VR in Revive...still works. I have no experience with programming unfortunately, wish I could say more than 'did you try turning it off and on again?'

[2017-03-10 07:17] SirRagesAlot opened #536 "Robo Recall, Crash on mission 2.1"
Hey guys, I'm having some trouble running Robo Recall on Mission 2-1, the game just crashes everytime I load.

I've tried reinstalling revive and the game on oculus but to no avail. I was wondering if anyone else had similar issues or has a solution.

Thanks

[2017-03-10 08:08] CarrotSurvivor commented on #528
I've resinstslled revive 5 times, restarted everything, reinstalled super hot.... itsnjist not working it keeps launching toms black screen. Before this new update (super hot forever update) it worked fine !!

[2017-03-10 08:10] CarrotSurvivor commented on #528
I really want to try this will uploading the output log from revive help? If armada651 confirms that he'll check it out I'll do that .. really wanna play this :(

[2017-03-10 10:11] Armada651 commented on #536
Can you try https://github.com/LibreVR/RoboRevive, so we know whether it is a problem with Revive or the game?

[2017-03-10 10:17] Armada651 commented on #534
Are you on the SteamVR beta by any chance?

[2017-03-10 13:07] avancleef commented on #520
I cannot start the game, when I drag the "RoboRecall-Win64-Shipping.exe" file on to "ReviveInjector_x64.exe" I get an error message saying "Checking your privilege... entitlement not found!"

Does anyone know how to fix this?

[2017-03-10 13:34] Armada651 commented on #520
https://github.com/LibreVR/Revive/wiki/Troubleshooting#im-getting-an-entitlement-error-or-oculus-rift-not-found

[2017-03-10 13:41] avancleef commented on #520
tried all that of course, nothing worked :)

[2017-03-10 13:45] Armada651 commented on #520
Also tried restarting your PC?

[2017-03-10 13:46] avancleef commented on #520
yeah did that as well :) im using latest revive version. I have to say, I downloaded the game from a skidrow website. so im not starting it from my "revive" dashboard. wanted to try the game before I buy it :)

[2017-03-10 13:47] Armada651 commented on #520
Then the game is functioning perfectly by denying to launch for you. Have a nice day.

[2017-03-10 13:59] avancleef commented on #520
and since when does it matter if I want to try something before buying since they dont give out demo's? bet 90 of the people using revive do that so yeah... have a nice day as well sucker :)

[2017-03-10 17:03] CarrotSurvivor commented on #534
Hey man! And Nope I'm
Not using steam VR beta

[2017-03-10 17:04] Armada651 commented on #534
I'll see if I can reproduce it this weekend, but it's unlikely that I'll be able to reproduce it since no one else seems to experience the problem.

[2017-03-10 17:18] CarrotSurvivor commented on #534
Thanks so much man, would it help if I send you my revive log files?

[2017-03-10 17:22] Armada651 commented on #534
Sure.

[2017-03-10 19:09] CarrotSurvivor commented on #534
Hey,  so I had to go to my user files, <my name> , <app data> , <local low> ,< SUPERHOT_team>, super hot _ VR , then delete the VRsuoer.hot file . This was the save file for the game and must have been corrupted. This same issue happened on the 2D version of the game. The game now works, revie still works great! Maybe post this somewhere to let people know how to fix it if it happens to them? Than

[2017-03-10 19:09] #534 closed

[2017-03-10 22:24] c9709062 opened #537 "AirMech Command Game can not be run as Revive after updating."
AirMech Command Game can not be run as Revive after updating.
Thank you for your help.

[2017-03-10 22:26] Armada651 commented on #537
AirMech now has an HTC Vive version on Steam. I recommend to try contacting the developer to see if you can get a Steam key.

[2017-03-10 23:13] Vivatokyo commented on #441
#gh0st0fsparta hi, could you fix the issue?

[2017-03-10 23:14] Vivatokyo commented on #441
@gh0st0fsparta hi, could you fix the issue?

[2017-03-10 23:15] Vivatokyo commented on #347
Still fighting with the ue4 fatal error :(

[2017-03-11 00:12] c9709062 commented on #537
Thank you

[2017-03-11 01:03] nlundquist commented on #399
I'm on Windows 10 and can't get my controller to work with Obduction

[2017-03-11 02:21] ffrgtm commented on #521
In response to Balderick:

It is only possible to have 2 lighthouses working at once. Lighthouse A sweeps the x-axis laser and gives a position update, then Lighthouse B sweeps the y-axis laser and gives a position update, then Lighthouse A sweeps the y-axis laser... I think you probably see the pattern forming.

This is combined with the forward integration of the IMU's using a Kalman Filter to g

[2017-03-11 06:37] Vivatokyo commented on #347
Ok I fixed it!
If you have Fatal Error problem do this:
1-Uninstall Revive
2-Uninstall completely Oculus software
Follow this https://www.youtube.com/watch?v=2WWrQncMNqs&app=desktop

(3-Install "Vive Setup" if you don't have it) *This one I don't know if it helps but it is what I did, I had only SteamVR and basic Vive drivers installed

4-Install Oculus Setup
Create an account/sign in

When you ar

[2017-03-11 06:40] Vivatokyo commented on #447
Ok I fixed it!
If you have Fatal Error problem do this:
1-Uninstall Revive
2-Uninstall completely Oculus software
Follow this https://www.youtube.com/watch?v=2WWrQncMNqs&app=desktop

(3-Install "Vive Setup" if you don't have it) *This one I don't know if it helps but it is what I did, I had only SteamVR and basic Vive drivers installed

4-Install Oculus Setup
Create an account/sign in

When you ar

[2017-03-11 06:43] Vivatokyo commented on #441
Ok I fixed it!
If you have Fatal Error problem do this:
1-Uninstall Revive
2-Uninstall completely Oculus software
Follow this https://www.youtube.com/watch?v=2WWrQncMNqs&app=desktop

(3-Install "Vive Setup" if you don't have it) *This one I don't know if it helps but it is what I did, I had only SteamVR and basic Vive drivers installed

4-Install Oculus Setup
Create an account/sign in

When you ar

[2017-03-11 07:40] mechaniK-nz opened #538 "Dirt Rally issue?"
hi all, the problem im having is a touch hard to explain, i should mention for the record that with Assetto i've had zero issues

however in Dirt Rally .... it almost feels like the game is constantly searching for my play space ... i can drive just fine it isnt totally game breaking, but it destroys most of the immersion.

 i get continuous flashes of  light blue every 4 seconds or so, and square

[2017-03-11 17:35] funderburgh commented on #528
I'm having the same issue, was working fine before the update

[2017-03-11 17:39] funderburgh commented on #528
Spoke too soon, I quit steam vr, uninstalled revive, reinstalled it and then started steam vr. Everything works now!!

[2017-03-11 17:40] Armada651 commented on #528
@funderburgh Yes, that was specifically mentioned in the comments as the solution.

[2017-03-11 22:57] SkywardEntertainment commented on #438
I am running into the entitlement not found error on dead and buried.

[2017-03-12 05:31] godofdeathftw opened #539 "The Unspoken not working after the game had an update"
Hello, after The Unspoken getting the new artifact update, the game crashes whenever me or my friend tries to enter a ranked match.  Is anyone else experiencing this?  If so, when will this be fixed?  I really want to keep my top 100 position!

[2017-03-12 05:32] godofdeathftw commented on #539
I have the updated version of Revive btw

[2017-03-12 15:18] lghtanddrk opened #540 "Does anyone know if Affected: The Manor is working?"
I see it lists front facing and 360 experimental but am hoping it doesn't have the same issue that Robo Recall does when you turn around.

Has anyone tried it yet?

[2017-03-13 04:02] flexodood commented on #358
it would be really nice if one could just override this fuction...

[2017-03-13 20:15] srt23 commented on #493
Actually it works well enough. I played through the whole using revive back in June. Haven't tried it since though, so can't say for sure if it works now after all the updates to both revive and the game.

[2017-03-13 23:04] godofdeathftw commented on #538
I would go into the steamvr settings and then off the play space warning whenever you want to play the game.

[2017-03-13 23:04] godofdeathftw commented on #538
Turn, not then

[2017-03-14 01:01] reenuwal opened #541 "No ReVive on Dashboard"
I use Vive and Windows 10 pro.
I don't see ReVive on the dashboard, and it isn't on the desktop either.
I installed it on my D drive.
Any idea where I may have went wrong with the install.

[2017-03-14 01:26] Armada651 commented on #541
Post your logs form `%APPDATA%\Revive`.

[2017-03-14 01:30] godofdeathftw commented on #541
Armada, pls respond to my post. Thanks.

[2017-03-14 08:21] gitfat commented on #537
I've attempted to email the developer, and while browsing their Airmech Command forum on Steam, have noticed other posts from Revive users who can no longer get this game to run through Revive since the Touch update. Other games I can still play properly through Revive, but it would be nice to have this game working again, too... eventually. I don't think the developers are interested in providing

[2017-03-14 11:16] Chupacabra1989 commented on #522
still a chance to get this game running smooth :( ? hope u can fix this in future. thank u a lot.

[2017-03-14 12:09] Armada651 commented on #539
I'm unable to reproduce the issue. Did the game happen to store a crash dump?

Also, please don't clamor for attention in other issue reports. I read every single one, but for difficult issues it's going to take longer before I can investigate the problem.

[2017-03-14 12:32] godofdeathftw commented on #539
I'm very sorry.  I contacted the support of insomniac games, and they told me to look for a crash.dmp which I couldn't find.  They also told me to save the report from dxdiag.  I will post that file in about 8 hours.  Also, I don't know if it could have something to do with that my friend played the game in my same oculus store account (different computer), and different steam account.  He tried s

[2017-03-14 13:28] Armada651 commented on #539
Don't post your dxdiag, it can contain private information and is not all that useful. The crash dump is the thing that actually leads to a solution.

[2017-03-14 13:58] Armada651 commented on #539
If you can't find the crash dump, try and do a full process dump. Simply reproduce the crash, but instead of telling Windows to close the application, leave the crash dialog open.

Now open the task manager and in the Details tab (Processes tab on Windows 7) find `Unspoken.exe`, right-click it and click "Create dump file".

This will dump the entire memory of the process, which can be very large d

[2017-03-14 18:11] cazman321 opened #542 "Dirt Rally - Desktop Mirror Window Looks Way Off"
I've seen this question asked a few times on the Steam forums with no answers. Does anyone know how to fix the Desktop/Mirror View when it's angled too high? I've tried changing aspect ratio, resolution, FOV, switching to non-windowed, and even the non-horizon view setting (a VR setting that shakes your view with the car, instead of locking the view to the horizon). I was trying to Steam broadcast

[2017-03-14 20:55] reenuwal commented on #541
I ran a search and have no results for %APPDATA%\Revive

[2017-03-14 20:57] NerioLab commented on #541
You must tick revive in SteamVR on Tab Application.

[2017-03-14 21:45] Armada651 commented on #541
@reenuwal You're supposed to enter that into the address bar of explorer or just in the run prompt `Win Key + R`. That will open the folder with the logs.

[2017-03-14 22:07] godofdeathftw commented on #539
ok, thanks

[2017-03-14 22:08] godofdeathftw commented on #539
will do that soon

[2017-03-14 23:43] cazman321 commented on #542
Who knows if this will help but I found some viewport values from the .exe

static const float g_fViewportWidth = 1920.0f;
static const float g_fViewportHeight = 1152.0f;

void VS_RenderStereoPixelID( VS_StereoPixelIDInput I, out float4 f4Pos : SV_Position, out float4 f4Diffuse : COLOR0 ){

f4Pos.x = ( I.f3Pos.x / ( g_fViewportWidth * 0.5f ) ) - 1.0f;
f4Pos.y = -( I.f3Pos.y / ( g_fViewportHeight *

[2017-03-15 00:49] reenuwal commented on #541
ReVive is not listed in the revive in SteamVR on Tab Application

[2017-03-15 00:54] reenuwal commented on #541
after run it says: windows cannot find WinKey

[2017-03-15 01:33] Armada651 commented on #541
@reenuwal I know this may seem like rocket science to you, but I did not want you to enter `Windows Key + R` into the run dialog.

[2017-03-15 04:01] reenuwal commented on #541
Armada651
I'm Sorry, I didn't read the post correctly.
I did as you said and ran %APPDATA%\Revive  and got a strange response:
Windows cannot find C:\Users\My Name
Yet of course I am listed in file explorer:  C:\Users\My Name

[2017-03-15 04:10] D2lod opened #543 "Framerate limited to 45 with reprojection off (Dirt Rally)"
I will try to explain what I'm seeing.  I do not believe this is issue #251. The reason for my post is the double images I get with interleaved. The problem manifests in three ways:

Reprojection off: Very constant delay in HMD, not jerky, SteamVR shows very regular missed frames with high frequency, FRAPS shows 45 fps on monitor.

Interleaved: Smooth 90 FPS feeling gameplay and SteamVR shows no m

[2017-03-15 21:42] D2lod commented on #543
It was my fault for having too much supersampling.

[2017-03-15 23:14] D2lod commented on #543
Wait! It wasn't supersampling!! I am now running great with 2.4 AND higher settings!! It *magically* got better when I downloaded and monkeyed with the OpenVR advanced settings.

My guess is when I checked and unchecked both reprojection settings to see if it would copy over to SteamVR's settings. Everything is 100% better and running with Asynchronous. Wow.

[2017-03-15 23:50] D2lod commented on #543
I also touched the supersampling slider in OpenVR. I put it to 1 (don't remember if it was on anything different) but since then I changed it in Steam. Maybe that was what did it.

[2017-03-16 17:14] r00tuzr opened #544 "First contact Black screen"
I'm getting a black screen in the headset but on the Desktop it shows up just fine.

[2017-03-16 17:34] Armada651 commented on #544
You're on the SteamVR beta, please revert back to the stable version until this issue is resolved.

[2017-03-16 17:34] #544 closed

[2017-03-16 17:36] r00tuzr commented on #544
ok thank you

[2017-03-17 12:13] michalowskib opened #545 "Games launch to desktop, but not HMD"
I have the same issues as described in #478 and #486
I can start bullet train, Luckys Tale, Robo Recall, SuperHot and few others without problems. Henry, touch turtorial, dreamdesk and some other just won't work. Only black background and sounds in HMD.

1. Revive tab still shows up in the tray, and games are still in there.
2. When you click on a game, you get the circular waiting animation. Afte

[2017-03-17 12:16] Armada651 commented on #545
You're using the SteamVR beta, please revert to the stable version.

[2017-03-17 12:54] thedonquixotic opened #546 "Cross platform game Kingspray tries to launch through Oculus and Revive even though it was purchased for Vive"
I purchased Kingspray on Steam for Vive but it tries to launch through Revive, which causes it to act like an Oculus game which screws up the controls some what. Any idea how to get around this issue? Has this already been addressed by ReVive and I'm just missing something obvious?

[2017-03-17 14:06] Armada651 commented on #546
I very much doubt it's being launched through Revive. How could that even happen if you don't launch it through the Revive dashboard?

Or did you at any point use Revive to patch the executable?

[2017-03-17 16:09] thedonquixotic commented on #546
I got it working. I used task manager to shutdown revive stuff. It could be something actually to do with Kingspray. I'll comment again if I have any more problems but I think it might have just been a glitch I was experiencing with the program itself.

[2017-03-17 16:09] #546 closed

[2017-03-17 16:41] Armada651 commented on #546
`ReviveDashboard.exe` doesn't do any Oculus emulation it only displays the dashboard, it can't even inject into other applications. I very much doubt that you need to shut it down to get Kingspray to work.

[2017-03-17 18:48] hnkessler opened #547 "Can't start Revive dashboard"
Hello, I have everything set up after following the instructions. When I start the Vive I can see the page that says ReVive but when I click it, there is nothing that pops up. I have installed games on the Oculus home that I checked were compatible but I still don't see anything.

[2017-03-17 19:03] Armada651 commented on #547
Please post your logs from `%APPDATA%\Revive`, just enter that into the address bar of any folder and drag-and-drop the two text files into the comment box here.

[2017-03-17 19:38] hnkessler commented on #547
libpng warning: iCCP: known incorrect sRGB profile
Failed to add manifest file to OpenVR: C:\Program Files\Revive\revive.vrmanifest (VRApplicationError_InvalidManifest)
Loaded manifest: C:\Program Files\Revive\app.vrmanifest
Loaded manifest: C:\Program Files\Revive\support.vrmanifest
Oculus Library found: D:\
qrc:/Overlay.qml:41:5: QML ListModel: remove: indices [4 - 4] out of range [0 - 4]
Loadin

[2017-03-17 21:22] Armada651 commented on #547
Can you try rebooting SteamVR and posting the new log?

[2017-03-17 22:18] Armada651 commented on #512
Here's a small update on this problem that I gave on Reddit:

[2017-03-17 22:50] mikegomak commented on #512
Thanks for looking even more into this, and for keeping the community updated. Intriguing.

Sent from my iPhone

[2017-03-18 03:57] hnkessler commented on #547
I apologize for the late response. It gives me this message now.

libpng warning: iCCP: known incorrect sRGB profile
Failed to create the dashboard overlay (is it already running?)

[2017-03-19 00:13] hnkessler commented on #547
Just checking that you saw my last post

[2017-03-19 05:08] smeenz commented on #545
I had exactly this after installing the oculus software, and then revive 2 days ago.  Got the spinning ticker in the HMD, and the game launches on the desktop.

However, all I had to do was reboot the PC, and everything started working after that, so I assume there's some sort of dependency or config setting that only gets set properly after a reboot.

I am not running the steam vr beta.

[2017-03-19 07:55] amerrin commented on #547
[ReviveInjector.txt](https://github.com/LibreVR/Revive/files/853079/ReviveInjector.txt)
[ReviveOverlay.txt](https://github.com/LibreVR/Revive/files/853080/ReviveOverlay.txt)

I am having the same issue.  I recently purchased a game through Oculus that I wanted to play through Revive.  I installed Oculus + the game, then I installed Revive.  I can launch Steam VR and see a Revive tab but when I cli

[2017-03-19 12:12] Armada651 commented on #547
@amerrin That is a different issue explained here: https://github.com/LibreVR/Revive/wiki/Troubleshooting#im-getting-an-entitlement-error-or-oculus-rift-not-found

[2017-03-19 12:13] Armada651 commented on #547
@hnkessler From the log it looks like you may have two installations of Revive in different locations. Could you post the contents of the file: `C:\Program Files (x86)\Steam\config\appconfig.json`

[2017-03-19 13:44] Armada651 commented on #541
@reenuwal In that case try: `C:\Users\My Name\AppData\Roaming\Revive`

Ofcourse your account is probably not really "My Name", so remember to replace that with your real username.

[2017-03-19 16:09] hnkessler commented on #547
@Armada651 I tried to uninstall and reinstall ReVive, but it looks like I failed. I don't think that is the issue because it was the same problem before when I only had one. I can post the contents of the file in about an hour.

[2017-03-19 16:22] SimplexPL opened #548 "Edge of Nowhere ghosting/stutter when rotating the HMD"
This is my first issue report, so let me know if more info is needed.

I am playing Edge of Nowhere using Revive 1.0.6 and stable SteamVR (non beta) and when I look around (rotate) then I can see a weird artifact, sort of ghosting/trails of the previous frame, which is very distracting. If I do not move my head and just walk forward in game then the movement is fluid, but it comes back when I move

[2017-03-19 17:44] iwillforgetthis opened #549 "Disney Movies VR hanging on load"
When I run the app through Revive it hangs on load.  The load screen window just flashes the words "Almost there!".  Can't launch the game.

[2017-03-19 18:36] Villaman68 commented on #541
in the cortana search box type RUN. The copy paste %APPDATA%\Revive into the dialog box that appears.
That will open up explorer with the 2 .txt documents you need.

[2017-03-19 19:21] amerrin commented on #547
I think I am having same exact issue that  hnkessler is having.  I can inject the game from Revive right click menu and browsing to the game location.  However, when I pull up Revive tab on my Vive home, it is empty.  None of the games are showing up.  This is my appconfig.json

{
   "manifest_paths" : [
      "C:\\Program Files (x86)\\ViveSetup\\Updater\\App\\Dashboard\\viveoverlay.vrmanifest",

[2017-03-19 21:22] hnkessler commented on #547
Here is my config file.

{
   "manifest_paths" : [
      "C:\\Program Files (x86)\\ViveSetup\\Updater\\App\\Dashboard\\viveoverlay.vrmanifest",
      "C:\\Program Files (x86)\\ViveSetup\\Updater\\App\\Home\\home.vrmanifest",
      "C:\\Program Files (x86)\\Steam\\config\\steamapps.vrmanifest",
      "C:\\ProgramData\\HTC\\Vive\\ViveApps\\5808cb6d-cbb8-49d5-821b-4295a2634697\\1482441097\\app.vrmani

[2017-03-19 21:39] amerrin commented on #547
@hnkessler do you have Vive desktop app running? I think that might have been my issue...Give it a shot

[2017-03-19 21:47] hnkessler commented on #547
That wasn't the issue but I figured it out! thanks for all of the help, guys.

[2017-03-19 22:15] #547 closed

[2017-03-19 22:16] Armada651 commented on #547
Explain how you solved it so other people don't run into the same issue and have to figure out what you did.

[2017-03-19 22:22] iwillforgetthis commented on #549
Derp.  I downloaded the latest version of Revive and it launches with no issues.

[2017-03-19 22:22] #549 closed

[2017-03-20 04:48] optimumbox opened #550 "Injecting games that use shortcut/commandlines"
I'm currently having trouble injecting into a game that is using command lines to run a modded version of said game.

When trying to hook, the log shows:

Launched injector with: "C:\Program Files\Revive\Revive\x86\ReviveInjector_x86.exe" "E:\SteamLibrary\steamapps\common\Half-Life 2\hl2 - Shortcut.lnk"
Creating process: E:\SteamLibrary\steamapps\common\Half-Life 2\hl2 - Shortcut.lnk
Failed to cre

[2017-03-20 08:38] lionomega commented on #540
No work for me

[2017-03-20 09:46] Armada651 commented on #548
Probably related to issue #182.

[2017-03-20 09:49] Armada651 commented on #550
HL2 has native Vive support though, here's a guide: https://www.reddit.com/r/Vive/comments/4m4o7k/you_can_still_play_half_life_2_in_native_vr_mode/

[2017-03-20 09:49] #550 closed

[2017-03-20 10:10] SimplexPL commented on #548
Maybe it is, I do not know how to confirm or debunk it. But it happens all the time, including the starting screen with logos, and also inside the caves where there is no flickering at all - but the ghosting is still on the same level. Also, someone in that thread wrote "Its very playable as it is, but will be nice when it is fixed." - I can assure you it is not "very playable" for me in its curre

[2017-03-20 10:39] Armada651 commented on #548
My comment was simply a note to myself.

[2017-03-20 13:20] optimumbox opened #551 "Injecting shortcuts with command lines #2 (hl2vr mod with tracked controllers, native directions won't apply))"
Sorry to create a new thread, but you closed my last one and I'm not sure you're understanding what I'm trying to run.

Reference thread: https://github.com/LibreVR/Revive/issues/550

I understand hl2 has native support, however "native" hl2 is not what is trying to be run here. I currently have a prototype build for the hl2vr mod. This is the mod that adds fully tracked controllers to hl2 and it

[2017-03-20 13:24] Armada651 commented on #551
Please don't open duplicate issues, there's nothing preventing you from commenting in a closed issue and they can be reopened if there's really a problem.

[2017-03-20 13:24] #551 closed

[2017-03-20 13:25] Armada651 commented on #550
Have you read the wiki? https://github.com/LibreVR/Revive/wiki#steam-games

[2017-03-20 13:37] optimumbox commented on #550
Yes and sorry about the duplicate. The problem is whether or not I patch it or try manual injection, the revive log is trying to attach to the shortcut of the mod rather than the base exe.

 -full -w 1200 -h 684 -game "C:\Program Files (x86)\Steam\steamapps\sourcemods\hlvr" -includepath "E:\SteamLibrary\steamapps\common" These are the commands I'm trying to enforce on the game itself. They're need

[2017-03-20 13:41] Armada651 commented on #550
I'm pretty sure I already have access to the slack channel. Anyway, when you have patched the executable you don't need to use the injector anymore. But I can see why that might fail on the source engine, I'm not sure they attempt to load XInput, which I use as a proxy to get it to load XInput.dll.

Anyway, if you're a developer on the mod, why don't you just implement OpenVR support? It's not ver

[2017-03-20 13:42] optimumbox commented on #550
I'm not a dev, just someone helping to test. I'm the only vive user on the channel that has been trying to get it running. They claimed a lot of the code needs to be rewritten for openvr.

[2017-03-20 13:42] Armada651 commented on #550
Also, just to be clear, the injector already accepts command-line argument, but what you're trying to do won't work even if I change the injector to resolve the shortcut. Because Steam will get in the way of the injector, so patching or native support is your only option.

[2017-03-20 13:47] Armada651 commented on #550
Well, even if they're not willing to implement OpenVR support, if they can just simply add one line in the source code that says `LoadLibrary("LibRevive64_1.dll")` then you can simply put these DLLs next to `hl2.exe` and Revive will take care of the rest:
[LibRevive.zip](https://github.com/LibreVR/Revive/files/855127/LibRevive.zip)

[2017-03-20 13:49] optimumbox commented on #550
Thank you for the help. I'll let them know that. Until then, I'm trying the old source method of merging the mod and base game into a new folder, which will hopefully resolve the need of the shortcut.

[2017-03-20 13:50] Armada651 commented on #550
As long as Steam pops up saying it's loading HL2 it won't work.

[2017-03-20 13:53] optimumbox commented on #550
It's not, when running it from the the folder, it runs normally. Merging the files got it to inject, but not send anything to the headset. So I'm going to see if I can get them to add the call for your dll.

[2017-03-20 13:55] Armada651 commented on #550
Well, if Steam isn't launching the application, then it should be enough to simply edit your shortcut and put "C:\Program Files\Revive\Revive\x86\ReviveInjector_x86.exe" in front of the target.

[2017-03-21 00:53] RFrags commented on #547
@hnkessler yes, please explain as I am having the same issue.

[2017-03-21 09:52] michalowskib commented on #545
In my case, going back from SteamVR beta to stable  solved the problem. I will go back to beta, and if this happens in a game again, i will know what to do ;)

[2017-03-21 12:53] Armada651 commented on #545
No reason to go back to the beta, it's a known issue.

[2017-03-21 17:09] optimumbox commented on #550
Just wanted to give you an update. I merged the mod files within the base hl2 directory to bypass the need of command lines and got revive to inject successfully. Unfortunately within the game itself it's still giving "failed to communicate with OVR" errors within the console. To quote one of the devs on the matter. "the rotation and gun controllers is all that uses vr code the rest is not related

[2017-03-22 05:53] kendoka15 opened #552 "Network latency every 10 seconds with revive installed"
Earlier today, every 10 seconds I would get a few second long lag spike. I confirmed this was happening only on my PC, then turned off steamvr and tried again. No lag spike. I found someone on reddit who said revive was the culprit so I uninstalled it and started steamvr, no lag spike.

[2017-03-22 06:35] amerrin commented on #547
@RFrags Make sure if you have dual-GPU that these programs are being output to dedicated GPU and not integrated GPU

[2017-03-23 00:27] lghtanddrk opened #553 "Aim is off in Drop Dead"
Drop Dead looks great and plays on Revive.  Grabbing guns is a little odd for Vive though.  You point at objects in the distance and then press grip to grab them.  You use grip to grab objects from your holster too. Doesn't always work well.  Maybe because I have sticky grip on in Advanced OpenVR settings.

Aim is a little off.  It seems like it is too far down and maybe off center to the left.  N

[2017-03-23 00:31] Armada651 commented on #553
It's hard to find an orientation that works in all games, I recommend you use OpenVR-AdvancedSettings to adjust the angles as you see fit.

[2017-03-23 13:16] bernardb13 commented on #536
Hi, I have crashing issues with Robo Recall as well, but it crashes seemingly randomly not in any particular mission.  It happens with Revive and also with RoboRevive.  I get a crash reporter window on my desktop screen indicating that Unreal Engine has crashed.  I run SuperHot, Bullet Train, etc all with no problems at all.  Any ideas what could be causing this?

My setup:  Asus Z170, i7-6700K, 3

[2017-03-23 13:22] Armada651 commented on #536
Can you also try to see if you can reproduce the crash with RoboRevive?

[2017-03-23 13:30] bernardb13 commented on #536
Yes it crashes with RoboRevive as well.  I am at work now and don't have access to the crash log at the moment but I can send those if that might help.

[2017-03-23 13:31] Armada651 commented on #536
Oh btw, you should not start RoboRecall from the Revive Dashboard after installing the mod. If you do it will use Revive anyway instead of the mod.

[2017-03-23 13:50] bernardb13 commented on #536
Ahhh....will try that when I get home!

[2017-03-23 19:26] CarrotSurvivor opened #554 "does RockBand Vr work? I wanna get this game"
can anyone confirm if rockband VR works with the guitar and everything? I really wanna play this game but you know..... oculus.

[2017-03-24 16:51] bernardb13 commented on #536
OK... I ran mission 1-2 completely with no crash - a very encouraging sign.  Did not have the time yet to try other missions - keeping fingers crossed.

Do you know if this is compatible with the Locomotion V6 mod (MGSStudios)?  Full locomotion plus no crashes would make Robo Recall my absolute favorite VR experience.

Anyway, will run other mission later today and update you.

[2017-03-24 21:01] #541 closed

[2017-03-24 21:02] Armada651 commented on #552
This is a known issue in SteamVR, it seems any VR dashboard app will cause this for some people, including Viveport

[2017-03-25 06:59] kendoka15 commented on #552
I just noticed after it happened with the advanced settings app. I hope it ends up fixed :/

[2017-03-25 06:59] #552 closed

[2017-03-26 12:34] bernardb13 commented on #536
Ran another couple of missions with no glitches whatsoever.  Thank you!  I guess there is something about my computer that is incompatible with the regular Revive.  RoboRevive works perfectly.

Am going to try running Robo Recall with the locomotion mod now and see if that breaks it.

[2017-03-26 15:24] Armada651 commented on #536
@bernardb13 Why do you think it's just your computer? The reason I asked you to test RoboRevive is to confirm it's not a problem with the game itself...

So logically, the crash should be in Revive.

[2017-03-26 16:39] bernardb13 commented on #536
I say that because I assume there are many other users out there successfully running Robo Recall using Revive with no crashes...

[2017-03-27 02:01] DowJohns opened #555 "Robo Recall"
I recently downloaded Robo Recall and have read all of the posts concerning issues booting it up via Revive.  I have taken all steps and have succeeded in getting to the tutorial at RoboReady every time.  The problem is that the game either crashes before booting up the actual game or it crashes in the first level (as of now, I can't even get to the first level anymore).
I have used the injector a

[2017-03-27 04:14] spteege commented on #554
I can't speak for Vive users, but I'm trying to run Rock Band VR through Revive with an actual Oculus Rift so I can run it through SteamVR and use OpenVRDesktopDisplayPortal to watch my Twitch chat with.  Launching the game through Revive pops a "Game failed entitlement check" error.

[2017-03-27 12:20] bernardb13 commented on #555
I am gonna jump in here...I had the same problem.  I have installed RoboRevive and it plays flawlessly for me now.

[2017-03-27 12:24] Armada651 commented on #554
@spteege Running Revive on an Oculus Rift is definitely not supported, you're going through 2 wrappers in that case which is bound to lead to issues.

[2017-03-27 13:20] DowJohns commented on #555
@bernardb13 Where can I download RoboRevive?

[2017-03-27 14:04] bernardb13 commented on #555
Its here on this website:

https://github.com/LibreVR/RoboRevive

You have to make sure to run Robo Recall directly rather than through the Revive panel in SteamVR

[2017-03-27 14:51] Armada651 commented on #555
I'm going to focus on improving RoboRevive as it is obviously the better, more stable option as far as Robo Recall is concerned.

[2017-03-27 15:43] DowJohns commented on #555
Thanks for the input!  I have now been playing Robo Recall and even got to the next level but now it is crashing again.  I am using the injector but it still happens.  Should I just click the exe file to launch?

[2017-03-27 15:49] bernardb13 commented on #555
I'm not the guy who created the software, he is the expert, but from my own personal experience - do not inject, start Robo Recall by directly starting the .exe file, do not run it from the Revive tab in Steam.  When inside the game go to the Mods tab and select individual missions you wish to play.  Thats what I have been doing and I have played all missions except 2 and have had no crashes.

[2017-03-27 16:14] Armada651 commented on #555
@DowJohns After installing the mod, do not launch Robo Recall through any other means than just starting the executable directly.

[2017-03-27 16:20] frank707 commented on #554
Rock band VR works great with revive. Just attach the one of your vive controllers to the top of a supported rock band guitar and adjust until it matches the orientation of your guitar :)

[2017-03-27 16:28] DowJohns commented on #555
Thanks again @bernardb13 and @Armada651!  Working perfectly now.  Keep up the good work @Armada651!!!

[2017-03-27 20:46] ytdlder commented on #230
Any info @OpenVR regarding UWP injection?

Would just love to play Minecraft in VR; how does Oculus do it?

[2017-03-27 20:58] Armada651 commented on #230
@ytdlder No change, Oculus SDK is still the only VR SDK with UWP support. But from what I hear, most people prefer Vivecraft anyway.

[2017-03-27 21:09] ytdlder commented on #230
Holy cow, first off, thanks for the ultra fast reply and secondly: thanks for this awesome tip!! I'll look into it ASAP! :-)
Thanks and keep up your great work!
Cheers!

[2017-03-27 21:44] MiniDigger commented on #470
I have to same problem. I can launch the game just fine but once I am in the tutorial I can't grab the first ledge by any combination of the buttons on the controllers. I also tried to play with the grib mode in the open vr advanced settings but with no success. I read somewhere that you can switch up the controls to something more friendly in the options, anyone happens to know how I can access t

[2017-03-28 20:57] DuplicateData opened #556 "Disconnecting Revive from Ark"
Was trying to figure out how to get Ark to stop launching in Steam VR as it sucks in VR right now. I had uninstalled Revive which did not work and also have tried unplugging the Vive. With the Vive unplugged it will not boot the game up. Any help would be greatly appreciated as I just want it to go back to how it was before I installed Revive to it. Thanks

[2017-03-28 20:58] Armada651 commented on #556
You need to delete two files: `xinput1_3.dll` and `xinput9_1_0.dll`. These DLLs were copied next to the main executable when you used the `Patch...` function.

[2017-03-28 21:03] DuplicateData commented on #556
Do you happen to know the file they were copied to?

[2017-03-28 21:06] DuplicateData commented on #556
Found the xinput1_3.dll but not the other.

[2017-03-28 21:08] Armada651 commented on #556
That's no problem, just delete the xinput1_3.dll

[2017-03-28 21:09] Armada651 commented on #556
But only next the the game executable, don't start to delete that DLL in other locations.

[2017-03-28 21:11] DuplicateData commented on #556
Okay I think it has worked, thank you so much. If I run into issues I will post here. It did launch the oculus store which it has never done but at least steam vr is not running.

[2017-03-28 22:25] Armada651 commented on #556
Haha, I think that's because removing Revive reactivated the Oculus support ;)

[2017-03-29 01:41] thefriend commented on #554
Getting nothing but black on the window when I start rockband vr. Nothing in the headset but home. Anyone see this before?

[2017-03-29 01:43] Armada651 commented on #554
Are you running the SteamVR beta? There are known compatibility issues between Revive and the beta, do not use it.

[2017-03-29 01:49] thefriend commented on #554
I was in the steam beta. I just opted out and restarted steam. same issue. Going to try reinstalled the steamvr devices.

[2017-03-29 01:49] Armada651 commented on #554
Just to confirm, you are using an HTC Vive headset?

[2017-03-29 01:50] thefriend commented on #554
correct.

[2017-03-29 01:53] Armada651 commented on #554
Tried any other games? For example, the Dreamdeck or First Contact demos?

[2017-03-29 01:54] thefriend commented on #554
the oculus hand demo does work just fine. Rockband vr seems to be the only one giving me problems.

All it does is I see a black window, and on the steamVR panel. rbvr.exe  unresponsive in red.

[2017-03-29 01:59] thefriend commented on #554
Also get the behavior where the game itself won't even load. It dies off before the window comes up on my monitor.

[2017-03-29 03:34] GuidoFida opened #557 "Getting failed entitlement check after the Oculus 1.13 update"
I only have 2 games, "Rock Band VR" and the game you get free with a purchase, "Ripcoil". I have been playing RBVR no problem since it came out March 23, but after the 1.13 update I fail the entitlement check on both games, even after doing beta>restart and restarting my PC.

[2017-03-29 05:32] SimplexPL commented on #548
Was anyone else able to reproduce the issue?

[2017-03-29 09:48] LorkHang commented on #548
yes, it runs like it has serious frame drops but it is not (no missing frames at all), it happens whenever I rotate the HMD. Things is it runs fine couple months ago, not sure what breaks it.

[2017-03-29 10:34] SimplexPL commented on #548
Thanks for quick confirmation. This is exactly what happens for me: there are no missing frames, but game is jerky when rotating HMD. I wish I played it when it was working instead of hoping that a flickering fix will come soon ( https://github.com/LibreVR/Revive/issues/138#issuecomment-230230260 ).

[2017-03-29 20:30] ytdlder opened #558 "UE4 Games problem"
So, I don't think there is a forum here(?), so I'll just post my problem here if that's ok...

I've tested several (free) "Experiences" from the Oculus Store and each UE4-Engine game (Dar Angelica, Farlands, Oculus Dreamdeck...) does not display anything in VR - even though they are listed in the compatibility list as working.
The game loads fine and I can see the content via Desktop mode (or when

[2017-03-29 20:31] Brody79 commented on #557
I can confirm this. Oculus Store update 1.13 seems to bring back the old forced "entitlement check".
A few games still work if I patch them manually (i.e. Edge of Nowhere or Lucky's Tale) with the Revive tray icon but every title fails to start from the Dashboard. Titles like Defense Grid 2 or Chronos don't work at all.

[2017-03-29 20:32] Armada651 commented on #558
You are using the SteamVR Beta, which currently has a known bug. Please revert back to the stable version.

[2017-03-29 20:32] #558 closed

[2017-03-29 20:33] Armada651 commented on #557
If the old entitlement check was back, then using manual injection would also fail. They probably just changed their manifests which the Revive Dashboard relies on to detect Oculus applications.

[2017-03-29 20:54] ytdlder commented on #558
Man, you are effin awesome!!

Here I was thinking VR was one of these tech you better have the very latest stuff :-)

Thanks!!

[2017-03-29 21:04] Armada651 commented on #557
Please make sure you're running the latest version of Revive (Use Check for updates in the tray icon menu). If it still doesn't work, post your logs from `%APPDATA%\Revive` (Just enter that into the address bar of a folder and drag the files in the comment box here)

Also, please post your Revive manifest located at `C:\Program Files\Revive\revive.vrmanifest`.

[2017-03-29 22:12] Brody79 commented on #557
[ReviveOverlay.txt](https://github.com/LibreVR/Revive/files/880516/ReviveOverlay.txt)
[ReviveInjector.txt](https://github.com/LibreVR/Revive/files/880517/ReviveInjector.txt)
I'm not sure if this will help since the logs don't show any errors. I'm using the latest Revive version (1.0.6.0).

[2017-03-29 22:16] Brody79 commented on #557
Maybe it's important to not that the Oculus Store automatically opens with SteamVR since the 1.13 update. If you close it, it shows the warning that no VR games will work without it. If you start any Oculus game from the dashboard, the Oculus Store automatically opens again.

[2017-03-29 22:19] hyperseven commented on #557
Even with Revive dashboard uninstalled it still does this :(

[2017-03-29 22:21] Armada651 commented on #557
@Brody79 I think you need to keep the Oculus Store open to pass the entitlement checks.

[2017-03-29 22:26] Brody79 commented on #557
@Armada651 I already tried this several times. It doesn't help.

[2017-03-30 00:08] PixelSplitter opened #559 "Failed entitlement check Robo Recall, some other games failing also"
Robo Recall displays the" failed entitlement check" message, The Unspoken displays " A connection to the Oculus store could not be established" message. Pinball FX2 also fails. Dreamdeck and Superhot still function. I uninstalled/reinstalled new version of Oculus home and the latest Revive. Disabled my firewall and AV software, let Oculus Home start when Steam VR ran. Same issue.

[2017-03-30 00:13] GuidoFida commented on #557
I too am on the latest version 1.0.6.0

[revive.txt](https://github.com/LibreVR/Revive/files/880685/revive.txt)
[ReviveInjector.txt](https://github.com/LibreVR/Revive/files/880686/ReviveInjector.txt)
[ReviveOverlay.txt](https://github.com/LibreVR/Revive/files/880687/ReviveOverlay.txt)

[2017-03-30 07:41] Brody79 commented on #557
@hyperseven If you stop and disable the Oculus runtime service the Oculus Store will not open up automatically anymore, but your Revive games won't work for obvious reasons. Most don't work at the moment anyways, though.

[2017-03-30 12:59] Armada651 commented on #557
I'm unable to reproduce any of the reported problems, I recommend reinstalling the Oculus software.

[2017-03-30 13:18] Brody79 commented on #557
I already clicked on repair from the Oculus Setup. It downloaded the whole package again (1.5GB) and reinstalled. I did not have to reinstall every Oculus game using this method but the problem with Revive persisted. I will try to completely uninstall and reinstall the software again (I can do so in a few hours).

It all started directly after the latest Oculus Store update and regarding to reddit

[2017-03-30 13:22] Brody79 commented on #557
@Armada651 [This guy](https://github.com/LibreVR/Revive/issues/559) already reinstalled the Oculus software with no luck.

[2017-03-30 14:50] Armada651 commented on #559
Duplicate of #557

[2017-03-30 14:50] #559 closed

[2017-03-30 14:52] Armada651 commented on #557
I still cannot reproduce the error, but what @Brody79 is implying is that the injector fails, but patching does work.

@Brody79 Can you attempt to launch an application from the dashboard that does not work and then send the logs from `%APPDATA%\Revive`?

[2017-03-30 15:51] Brody79 commented on #557
[ReviveInjector.txt](https://github.com/LibreVR/Revive/files/882993/ReviveInjector.txt)
[ReviveOverlay.txt](https://github.com/LibreVR/Revive/files/882994/ReviveOverlay.txt)
I attempted to run Defense Grid 2, this time by running it from the Steam library instead of the dashboard.
"Game failed entitlement check".
Nothing helpful in the logs, though.

[2017-03-30 16:54] Brody79 commented on #557
I did find something out that makes no sense to me:
If I inject the game executable by dragging and dropping onto the Revive\ReviveInjector_x64.exe it works!
But if I inject via the tray icon or try to run it from the dashboard, it fails.
I already tried uninstalling and reinstalling Revive and it changed nothing. I don't get it.

[2017-03-30 17:04] Armada651 commented on #557
Sounds like a user rights problem, possibly related to UAC. Try installing Revive in the default Program Files location. Applications installed in Program Files get more privileges.

[2017-03-30 19:23] CarrotSurvivor commented on #557
i think i know the issue! The 1.13 update added a button in oculus home settings to either allow or disallow unkown sources not reviewed by oculus to run on rift! try to enable this setting and see if it fixes the issue.

[2017-03-30 19:33] Brody79 commented on #557
@Armada651 It actually was the UAC! Reinstalling Revive to C:\Program Files didn't do the trick but starting Steam with Administrator privilege did.
@CarrotSurvivor Thanks, but this button exists for a long time and was already set to allow unknown sources in my case.

[2017-03-30 19:34] CarrotSurvivor commented on #557
okay, by the way i bought Giant Cop guys, ill let you know if it works in case your interested.

[2017-03-30 19:40] GuidoFida commented on #557
Running Steam as admin also did the trick for me, even though Revive was already installed in Program Files to begin with

[2017-03-30 22:18] Armada651 commented on #557
Are the people encountering this problem running Windows 7 or 10?

[2017-03-30 22:23] LinosM commented on #557
Windows 10

[2017-03-30 23:00] CarrotSurvivor opened #560 "Giant Cop Not working"
game launches on desktop, but not in headset, seems glitched out, no error messages, can hear the music. Tried patching/ injecting / maybe im doing it wrong? even from dashboard, the game just keeps doing the same thing, starts up, seems glitched, cant see in headset, -can- hear music. Anything i can do to help make it work?

[2017-03-30 23:07] CarrotSurvivor commented on #557
giant cop is not working, make a ticket. :(

[2017-03-30 23:34] Armada651 commented on #560
You are not on the SteamVR beta right?

[2017-03-30 23:39] CarrotSurvivor commented on #560
Nope, ran steam as administrator, dragged .exe onto injector. It doesn't work, and launching the game from oculus home has the game behave in the exact same way. Revive doesn't seem to be having any effect on the game whatsoever :/

[2017-03-30 23:39] CarrotSurvivor commented on #560
I have revive and oculus home on the c: drive .m, windows 10, all that stuff

[2017-03-30 23:42] CarrotSurvivor commented on #560
I've been trying to get it to work for the last hour, reinstalled the game too. Anything else I could try? I'm here to do whatever I can to help you get it working for myself and  others :)

[2017-03-30 23:44] CarrotSurvivor commented on #560
One more thing, there is no entitlement check error or anything like that, no error messages, not even when I launch the game from oculus home just to see how it would behave.

[2017-03-31 00:15] CarrotSurvivor commented on #560
The game has a very long file name in the oculus folder / sowtware. I changed it to see what would happen and am -now- getting an entitlement error, but the game no longer emblem lauches from the dashboard. Now entitlement error occurs when I launch the game by dragging .exe onto the revive/injector file. I'm running steam as administrator.

[2017-03-31 01:25] CarrotSurvivor commented on #560
Yea man, I've tried everything nothing is working.

[2017-03-31 07:58] larzvegaz commented on #560
same here :-(

[2017-03-31 15:25] CarrotSurvivor commented on #560
Should I try and launch the game and send my logs? How can I fix this, don't want my 30$ to go to waste :(

[2017-03-31 18:51] AndreStadelmann commented on #560
Same for me, keep us updated if you find a solution.

[2017-03-31 19:36] Armada651 commented on #560
@CarrotSurvivor Sending logs won't help, you'll just need to wait until it's fixed in a future Revive release. Every game will work at some point, but if you buy something that's not on the compatibility list yet, then you run the risk of having to wait until Revive supports it.

[2017-03-31 19:48] CarrotSurvivor commented on #560
Just wanted to be the first person to let people know if it didn't or diddnt work, now they know so I'll add to the compatibility list that it will work in a future update. Thanks man! Looking forward to a fix this game looks pretty fun

[2017-03-31 19:52] KyleGospo commented on #557
Have you tried going into the oculus store and doing the restart oculus option under beta in settings?

That fixed it for me.

[2017-03-31 23:10] sirchandistroix opened #561 "Robo Recall update - height issue"
After Today's Robo Recall update, I spawn into the game with my head popping up through the elevator ceiling. This stays the same after teleporting around the office. I switched the camera settings to the new 3 camera setup option before playing, if that helps at all.

[2017-04-01 01:11] PixelSplitter commented on #557
Hey I had the very same issue. Starting Steam and Oculus Home as admin did not resolve it but exiting from Revive via the system tray button then restarting it from the root folder as admin resolved the problem :)

[2017-04-01 03:15] 9000cats commented on #561
Same thing happening to me. I was excited to finally play with decent teleportation :(

[2017-04-01 04:20] 9000cats commented on #561
Use RoboRevive
https://github.com/LibreVR/RoboRevive

[2017-04-01 10:44] jonnypanic commented on #557
Cheers, PixelSplitter, that solved it for me. It was driving me mad.

[2017-04-01 13:21] lghtanddrk opened #562 "Has anyone tried Robo Recall now that it was officially patched for 360 by Epic?"
I just read that Robo Recall was officially patched for experimental 360 support with an option to enable it in settings.

I have been really wanting to play this but have avoided it due to the numerous Revive compatibility issues I read about.

Has anyone tried it since Epic put out the official patch yesterday?  Does it still need the RoboRevive patch now to play correctly?

And in general, how

[2017-04-01 14:35] sirchandistroix commented on #561
does this still give you the full experience as a mod?

[2017-04-01 15:43] 04nd01 commented on #562
It's absolutely worth getting, even without the patch. The update makes it so you don't have to specify a direction to teleport to. Unfortunately there's a bug right now if you activate 360 mode the floor height it wrong.

[2017-04-01 15:45] 04nd01 commented on #561
Can confirm. It only happens when the new 360 mode is active and it doesn't matter whether you load a saved game or start a new one.

In the menu everything looks alright but once you've started a game the floor height stays wrong when you return to the title.

[2017-04-01 15:57] Armada651 commented on #562
@04nd01 Have you tried the RoboRevive mod? https://github.com/LibreVR/RoboRevive

[2017-04-01 16:00] 04nd01 commented on #562
I have not. Am I right in assuming that this works like other RR mods, i.e. no story mode or stars?

[2017-04-01 16:03] Armada651 commented on #562
RoboRevive only enables functionality that's already part of RR, as such it won't be detected as a regular mod. So story mode and leaderboards should be available.

[2017-04-01 16:05] 04nd01 commented on #562
Cool, in that case I'll have to check it out. Thanks.

[2017-04-01 17:11] 9000cats commented on #561
I'm not sure what's different about the mod included in the RoboRecall package but it just adds in the native Epic SteamVR support for the game engine. So it runs natively through SteamVR. Works great. I think you have to run the executable outside steam though.

[2017-04-01 17:12] 9000cats commented on #561
I mean RoboRevive...

[2017-04-01 17:12] 9000cats commented on #561
You play the game as normal. The campaign works as normal.

[2017-04-01 17:32] danylopez123 opened #563 "VRJin-OVR is not working even with Revive injected"
I've been trying to make this Virtual Boy emulator work with my HTC Vive glasses, but no matter what i do, it doesnt want to work.

Emulator: https://github.com/braindx/vbjin-ovr/releases

Is there something im missing? Can someone explain me how i do this step by step?

[2017-04-02 01:50] AzraelXS commented on #561
RoboRevive mod's performance is vastly superior, and doesn't suffer from the height bug, but the angle of the guns/controllers is uncomfortably off, and for the life of me, I can't figure out how to access the game's menu. None of the vive controller buttons open it, so in order to leave the game, or change settings, I have to take off my headset and close out of the game. It's disheartening. Of c

[2017-04-02 01:57] 9000cats commented on #561
In order to open the game menu I open the steam menu

[2017-04-02 01:58] 9000cats commented on #561
The bottom menu button indeed of the top menu button

[2017-04-02 01:59] AzraelXS commented on #561
Wow, thanks for the quick reply!

For some odd reason, that button does nothing at all for me. I'll try a
reinstall.

On Apr 1, 2017 9:58 PM, "9000cats" <notifications@github.com> wrote:

[2017-04-02 02:05] lghtanddrk commented on #562
So to confirm, with RoboRevive is this new height issue eliminated with 360 enabled or do we need to wait for a fix?

[2017-04-02 02:59] AzraelXS commented on #561
Reinstall had no effect. You wouldn't happen to have installed the Unreal
Editor/Robo Recall editor would you? It's the only part of the instructions
I didn't follow.

On Apr 1, 2017 9:59 PM, "Michael Gay" <azraelxs2012@gmail.com> wrote:

[2017-04-02 12:17] Armada651 commented on #561
@AzraelXS The issues you describe are due to RoboRevive being a proof-of-concept. Those issues are quite easily fixed, but I haven't taken the time to look at it yet and so far there haven't been any UE4 modders interested in working on it.

[2017-04-02 17:30] 9000cats commented on #561
I didn't install the editor. I'm able to open the steam overlay while in Robo Recall via RoboRevive. The game apparently is informed that the menu is open so the game pauses and opens it's menu.

[2017-04-02 20:18] extravert3d commented on #561
another workaround is to use vive Advanced Settings to adjust your playspace coordinates while in the menu, then adjust it back once in game.

[2017-04-03 01:36] alexagui commented on #557
Confirming PixelSplitter's recommendation to run the Revive Dashboard as administrator on Windows 10 Pro worked for me.

[2017-04-03 11:19] KilianZ commented on #562
Yes, this game is absolutely worth getting if you're even slightly interested in shooters or action games, even if there are some minor annoyances due to being designed for the Rift. It's the most fleshed out VR game you can get right now, both in quality and content. It's so much fun.

I've been playing it with RoboRevive the last few days and haven't had any issues whatsoever (haven't tried Revi

[2017-04-03 14:21] ObliqueOne commented on #562
I am also getting this height issue, wondering if I have some thing setup wrong on my end.

[2017-04-03 22:41] jishaw32 commented on #540
still no answer to the manor? has anyone even looked into this

[2017-04-04 01:24] Armada651 commented on #540
I'm not going to test every VR game people ask about if that's what you mean.

[2017-04-04 01:33] CarrotSurvivor commented on #540
haha, of course you wouldn't! Neither would i, too expensive, too tedious. It's why there's a community comprised list of working/non working games :) hoping that one day giant cop works tho

[2017-04-04 01:41] r00tuzr commented on #561
Same thing just happened to me. I don't use robo revive would it help if I did.

[2017-04-04 01:42] r00tuzr commented on #562
Also have height issues.

[2017-04-04 01:45] Armada651 commented on #562
Please no more reports about height issues, it's a known issue. As mentioned above, I recommend using RoboRevive. I plan to improve it soon to fix the current issues with it compared to regular Revive.

But overall the RoboRevive mod is as close to native support as we can get, so you should run into a lot less problems.

[2017-04-04 02:19] AzraelXS commented on #561
it would run faster and avoid the bug, but you'd have to deal with no in
game menu button. You can access the menu at game launch, but it seems
that's it.

On Apr 3, 2017 9:41 PM, "r00tuzr" <notifications@github.com> wrote:

[2017-04-04 15:48] bernardb13 commented on #562
Ok...I have the updated version of RR and am using 360 degree tracking and also using RoboRevive...No issues with height at all.  Just letting the developer know in case it helps.

[2017-04-04 16:32] r00tuzr commented on #562
I dont think there is a problem with robo-vive. Just regular revive

[2017-04-04 16:50] 9000cats commented on #561
If you bring up the Steam VR overlay it will pause the game and open the menu

[2017-04-04 18:31] Maxoxpower commented on #562
did i need to download the robo recale editor or that step is not necessary?

[2017-04-04 20:20] sirchandistroix commented on #561
Been busy with work, but I wanted to chime in and say @9000cats suggestion to use RoboRevive fixed the issue for me. Height is back to normal now, and the only difference is that I run the game from a desktop shortcut instead of Revive.

[2017-04-04 23:44] AzraelXS commented on #561
Um.. How do you do that? I can't bring up the Steam overlay. No button, or
combination of button presses on the controller, nor the button on the
headset, nor key combination on the keyboard, nor alt+tabbing (I just get a
"Application Focus" error message when I do that) brings up the steam
overlay for me in RoboRevive. The usual "press the power button on the
controller to open the compositor/ste

[2017-04-05 00:03] Armada651 commented on #561
@AzraelXS It'll be fixed soon. no need for awkward workarounds. Please be patient.

[2017-04-05 00:08] AzraelXS commented on #561
I am patient, but I no longer need to be, or use the awkward workaround.

The RoboRevive mod gets around the height issue entirely, and it's
performance, being native, is objectively superior... albeit the lack of a
button bind for the menu, and the controller angle takes some getting used
to.

On Apr 4, 2017 8:03 PM, "Jules Blok" <notifications@github.com> wrote:

[2017-04-05 00:23] Armada651 commented on #561
@AzraelXS I was specifically referring to the RoboRevive issues. It's unlikely I will fix this Robo Recall issue with Revive soon, since RoboRevive is superior.

[2017-04-05 02:07] CarrotSurvivor commented on #561
Would fixing the hand angle with roborevive and mapping the ingame manu button be hard to do whenever you get a chance? Other lodgers have not taken any interest it seems :/

[2017-04-05 02:10] Armada651 commented on #561
Not hard at all, I just didn't have the time to get back to it yet.

[2017-04-06 03:03] ThatGamerBloke commented on #554
Jumping on the Rock Band VR thread. Any way for the Vive microphone to be recognised as the Oculus microphone? As I've tried changing default microphone on the taskbar, but it looks like the game is hard coded to find the Rift microphone.

[2017-04-06 12:00] Armada651 commented on #554
If the game is hardcoded to use the Rift microphone it would likely use the Oculus SDK to find it. Revive already implements those functions to return the default microphone instead. However there are Oculus Games that use some special properties of the Rift microphone that don't seem to work with other microphones (see issue #351).

[2017-04-07 11:26] kvdv99 opened #564 "Robo Recall - crashing"
Loved this game when it came out, but 180 tracking + the teleport system sucked.
I tried playing but couldn't get used to it.  The game worked without crashing though.

Then the update from Epic came : 360 tracking and normal teleport.
This is it I thought!   But then I had that known height problem (floating 2 metres int the air, unplayable).

People here suggested RoboRevive, so I installed this

[2017-04-07 11:39] Armada651 commented on #564
I'm working on a new version of RoboRevive, hopefully the crash will be fixed in that version.

[2017-04-07 11:55] kvdv99 commented on #564
WIn10

[2017-04-07 12:44] Armada651 commented on #564
Okay, I'm not sure if the next version will fix that, but you can test it once it's out (should be out later today or this weekend). If you still have the problem with the new version, make an issue report on the RoboRevive page.

I'm going to close this issue as it's mostly about RoboRevive and the height problem already has a ticket.

[2017-04-07 12:44] #564 closed

[2017-04-07 12:45] Armada651 commented on #562
Good news guys, I've been working on RoboRevive this week and I think I've fixed all the control scheme problems. I'm now working on packaging it as an easy-to-use installer.

[2017-04-07 14:24] CarrotSurvivor commented on #562
You should make a post on Reddit when you fisnihs the version, explaining the height issue is fixed and that it's basically native vive support. People appreciate your work so much, as do I :) this isn't great game that everyone should be able to enjoy!

[2017-04-07 14:25] CarrotSurvivor commented on #562
This IS a great game that everyone should enjoy ****** lol stupid spell check

[2017-04-09 07:27] liuste commented on #204
I am new. I was wondering if this means elite dangerous from oculus won't work with revive? I have a copy of the oculus version of Elite Dangerous: Commander Deluxe Edition but can't seem to get it to work with vive. I read under compatibility that elite dangerous was not listed but under chronos it says: Like some other games (e.g. Elite Dangerous), you must disable Nvidia Surround or Nvidia driv

[2017-04-09 17:23] Shadaez commented on #204
You can sign into the Frontier website and get a Steam key for your copy

[2017-04-09 21:39] teaguru22 opened #565 "super hot issue"
I have used revive with super hot before but now i have a new issue.

today I can only launch through the injector, which is not ideal. When i did get it launched the height in game was way off, one time I was too short, the 2nd too tall.

Any help is appreciated.

Thanks

[2017-04-10 02:24] Maxoxpower commented on #565
this.. please , give us a fix this is my fav game :(

[2017-04-10 06:45] jaorg1234 commented on #565
I've just tested the game in the endless mode and the game started up as usual and there was no height issue.

Does a error message crop up when starting up the game with the SteamVR overlay? Is your game up to date?

[2017-04-10 12:04] Maxoxpower commented on #565
me , i can start the game in steamvr.
But i got the height issue for the first time..and its the vr game i play the most.. :(
i really want to play again...its my favorite game.

[2017-04-10 13:04] Vivatokyo commented on #561
@Armada651 Thanks for your time :) No height issue with RoboRevive!
Just waiting for the hand angle correction update :)

[2017-04-10 17:53] r00tuzr commented on #561
@Armada651 Should we be using revive or Robo revive for Robo recall?

[2017-04-10 17:54] Armada651 commented on #561
@Vivatokyo Latest release (version 1.0) fixes the gun angles.

@r00tuzr Definitely RoboRevive, native support is better than Revive.

[2017-04-10 18:14] AzraelXS commented on #561
I'm immersing myself into Unreal development now so that soon, I may be
able to help out with projects like this.

Thank you so much for your efforts. We are not worthy!

On Apr 10, 2017 1:55 PM, "Jules Blok" <notifications@github.com> wrote:

[2017-04-10 18:31] Maxoxpower commented on #565
i really want to show the game this friday but i cant now! :(

how this error can be possible? steamvr update? superhotvr? revive update?
revive did not get some update recently...

[2017-04-10 18:42] Armada651 commented on #565
You can try running the room setup again. I'll probably look at this issue tomorrow.

[2017-04-10 18:43] Maxoxpower commented on #565
will try after work .
thanks for the fast answer

[2017-04-10 22:53] laserob commented on #554
I'm also having the issue of the Vive microphone not working. Any ideas?

[2017-04-11 05:28] Vivatokyo commented on #561
Great job @Armada651 :)

[2017-04-11 19:25] #562 closed

[2017-04-11 19:25] Armada651 commented on #561
Fixed in commit e183279e12d2b087c43da1db40a871d5c916efd3.

Will be part of the next release.

[2017-04-11 19:25] #561 closed

[2017-04-11 19:28] Armada651 commented on #542
This seems to be an issue for Oculus users too, so Revive is working fine.

[2017-04-11 19:28] #542 closed

[2017-04-11 20:12] Casyi commented on #545
Hey there, I am having a similar issue. I am trying to launch a game that is a prerelease though, so it's not on the Revive combatibility list. Still hoping that I could try this game using Revive, because the game does launch (not sure if this is an indication that it might work), but it seems that the game loaded on my desktop screen doesn't recognize like my Vive. It looks like the hmd is on th

[2017-04-11 22:03] paulasheville commented on #537
Can we get an update on this please. I really don't want to have to buy this title again, but will if there's no other choice.

[2017-04-11 22:18] willp319 commented on #555
Whenever I click Robo Recall on the revive menu I get stuck in the vive home screen and get the spinning circle o' death. Can someone help me? BTW I have gtx 1060, Intel i7-7700. Its an Ibuypower desktop.

[2017-04-11 22:26] Armada651 commented on #555
@willp319 Try this: https://github.com/LibreVR/RoboRevive

[2017-04-12 00:26] SgtShivers commented on #437
Superhot VR won't run anymore for me either.  I just get into a black surrounding, hand controls aren't even visible, and it sits there forever.

[2017-04-12 02:41] CarrotSurvivor commented on #437
@sgtshivers you need to delete you games save data. It corrupt and has nothing to do with revive, happened to me. If you google the issue how to delete your save file is explained on a steam discussion forum. Doing that fixed the game for me.

[2017-04-12 14:59] Maxoxpower commented on #565
not working :(

[2017-04-12 15:03] Armada651 commented on #565
Please try the following workaround and let me know the results:

1. Put the headset on the ground
2. Load the game and wait for the game to finish loading
3. Put on the headset

[2017-04-12 18:09] routb3d opened #566 "New Oculus Medium "Large Update" Unable to initialize Oculus Rift Error"
The Latest version of Oculus Medium appears to brake Whatever Wizardry Revive uses. :(

Error : Unable to initialize Oculus rift

[2017-04-12 19:56] Armada651 commented on #566
Oculus might have moved some files around, try reinstalling Revive to clear the old metadata.

[2017-04-12 20:12] Casyi opened #567 "Game launches to desktop screen, but doesn't recognize HMD"
Hey there, I am having a similar issue as #545 - I posted this as a comment there as well, but I'm not sure if that issue is still being watched, so I'm posting it as a new issue. Hope that's okay. I am trying to launch a game that is a prerelease, so it's not on the Revive combatibility list. Still hoping that I could try this game using Revive, because the game does launch. However, I'm not sure

[2017-04-12 21:43] routb3d commented on #566
I tried a full removal and reinstall of revive and got the same error..

[2017-04-12 22:36] Armada651 commented on #566
Can you try to run Steam as an Administrator before starting SteamVR? There are some known UAC problems with Revive.

[2017-04-12 22:40] routb3d commented on #566
Tried running Steam as Admin. Same error.

[2017-04-12 22:43] Armada651 commented on #566
I think the problem is that the version of the Oculus Runtime that Revive implement has become too old. I have a local development copy of Revive which has been updated to the latest runtime, but it's not quite ready for release yet.

[2017-04-12 23:03] Armada651 commented on #567
I did read your comment, but without having access to the actual game I can't say for sure what the problem is.

However, since you mention this is a pre-release game it's probably due to the fact that Revive implements an older version of the Oculus Runtime. I have a development version that implements the latest runtime, but it's not quite ready for release yet.

[2017-04-12 23:04] routb3d commented on #566
I would be happy to test it for you if you like. Let me know how to carry forward.

[2017-04-13 06:48] Casyi commented on #567
Thanks for the reply. Let me try and ask if they could give you access if you'd like and have time to check it out. Also, thanks for the great work btw. Didn't know you are Dutch!

[2017-04-13 14:28] Maxoxpower commented on #565
nothing, same problem :(

[2017-04-13 14:29] Armada651 commented on #565
Well, I can't reproduce it on the current development build, so it's best to wait until the new release and see if you still have the issue then.

[2017-04-13 14:52] CarrotSurvivor commented on #565
Itbs a corrupt save file guys, delete the save file and the game will work again.

[2017-04-13 17:23] goshwinkle commented on #566
Same issue here. Would be happy to test

[2017-04-13 18:09] Nordomus commented on #403
Nothing worked for me :( I'm on GTX 1070 and i5 4690k and I can't get it to run smoothly :(

[2017-04-13 18:25] Armada651 commented on #403
@Nordomus I'm currently working on this issue, hopefully I'll have some progress to report soon.

[2017-04-13 19:37] beldolor commented on #566
Same issue as well, reinstalling didn't help. Hope to hear about update or testing in the future.  (medium is currently the only game I use revive for).

[2017-04-13 22:32] 1Revenger1 commented on #512
Is there any update on this? I appreciate that you are working on this :D.

[2017-04-13 23:13] Armada651 commented on #512
@1Revenger1 I'm working on a new version that takes a different approach to tracking prediction. We'll see how it works out.

However in any case The Unspoken will be incompatible with asynchronous reprojection, so you will need to turn that off while playing The Unspoken.

[2017-04-13 23:40] Armada651 commented on #456
This has been addressed in commit b73a413518c2af017a9877b337f671b8b72df207.

By making use of the deadzone the entire touchpad surface can be used as the thumbstick.

[2017-04-13 23:40] #456 closed

[2017-04-14 00:07] Armada651 commented on #21
A week before the anniversary of this issue the developer has added Vive support: http://store.steampowered.com/app/393750/

[2017-04-14 00:07] #21 closed

[2017-04-14 00:11] Armada651 commented on #526
This is a complicated issue that I've already explained in a lot of other threads. I will probably write up a complete section on how reprojection affects Revive after the next release.

[2017-04-14 00:11] #526 closed

[2017-04-14 00:31] gschomburg commented on #566
I am having the same error. Also happy to test.

[2017-04-14 02:34] 1Revenger1 commented on #512
Sounds awesome, hopefully it works out well.

[2017-04-14 07:32] Chupacabra1989 commented on #512
@Armada651 thank u so much im waiting so long for this news :D

[2017-04-14 08:36] mikegomak commented on #512
@Armada651 - I usually try it with Asynchronous reprojection on as its the smoothest way to play it... Are you saying I should turn this off? strangely, the most juddering/lag is actually in the room, not when playing. I have also noticed a new setting on the Nvidea menu, attached, will modifying this help maybe? Thx again for all your work on this - from what I can see its an incredible game and

[2017-04-14 09:41] siraxe commented on #566
same here , got HTC mostly for Medium , Im up for testing as well xD

[2017-04-14 21:43] SgtShivers commented on #437
@carrotsurvivor that worked, thanks!

[2017-04-15 11:14] Armada651 commented on #567
@Casyi Dat klopt, ik doe al mijn werk vanuit Eindhoven.

Anyway, I should get a new version out pretty soon that will probably fix it.

[2017-04-15 11:15] Armada651 commented on #566
Just a quick update, I'm working on finalizing the 1.1 release which should be out pretty soon.

[2017-04-15 16:00] routb3d commented on #566
Fantastic news! Thanks..

[2017-04-15 16:44] Armada651 commented on #528
Going to postpone the planned dashboard changes to version 1.2.

[2017-04-15 16:45] Armada651 commented on #399
Postponing the planned changes to the injector to version 1.2.

[2017-04-15 18:02] Armada651 commented on #182
Removing the milestone as there is still no adequate way to debug this issue. So far all the graphics debuggers I normally use (apitrace, RenderDoc, VS Graphics Debugger and NSight) crash when attempting to capture a frame in Edge of Nowhere.

[2017-04-15 18:57] Armada651 commented on #566
The update is ready, please let me know if it works so I can start pushing it through the updater.

[2017-04-15 18:58] Armada651 commented on #567
Please test this version: https://github.com/LibreVR/Revive/releases/tag/1.1

[2017-04-15 18:59] Armada651 commented on #18
This should be fixed in the latest release: https://github.com/LibreVR/Revive/releases/tag/1.1

[2017-04-15 18:59] #18 closed

[2017-04-15 18:59] #555 closed

[2017-04-15 19:03] Armada651 commented on #512
Please test the latest release: https://github.com/LibreVR/Revive/releases/tag/1.1

You may experience some stuttering due to the amount of prediction The Unspoken is using. If you are experiencing stuttering, try different configurations of reprojection. Try enabling/disabling Asynchronous Reprojection or enabling Always-on Reprojection.

[2017-04-15 19:14] goshwinkle commented on #566
BSOD opening medium from revive

[2017-04-15 19:15] Armada651 commented on #566
@goshwinkle A BSOD most likely indicates a driver issue, I very much doubt the Revive update is responsible.

[2017-04-15 19:19] siraxe commented on #566
It works ) the only thing I've noticed is that the "hold object buttons" get stuck , have to press again to release , but that could be a new Medium "feature" ))

[2017-04-15 19:21] Armada651 commented on #566
@siraxe That is a change in Revive, I've enabled a grip toggle on short pressed (less than half a second). If you want to disable that behaviour you can do so in OpenVR-AdvancedSettings.

[2017-04-15 19:22] hyperseven commented on #566
hybrid grip, as described in release notes.

[2017-04-15 19:22] goshwinkle commented on #566
Worked briefly post bsod restart then same memory management bsod. Grip issue could be solved it changed using openvr advanced settings toggle options

[2017-04-15 19:24] Armada651 commented on #566
@goshwinkle That really seems more like a serious problem with your PC. Which operating system are you running? Even if Revive managed to crash the video driver that shouldn't result in a BSOD on any modern version of Windows. Are you using AMD driver perhaps?

[2017-04-15 19:28] goshwinkle commented on #566
win 10

`Display Devices
---------------
          Card name: NVIDIA GeForce GTX 1070
       Manufacturer: NVIDIA
          Chip type: GeForce GTX 1070
           DAC type: Integrated RAMDAC
        Device Type: Full Device
         Device Key: Enum\PCI\VEN_10DE&DEV_1B81&SUBSYS_36FC1458&REV_A1
      Device Status: 0180200A [DN_DRIVER_LOADED|DN_STARTED|DN_DISABLEABLE|DN_NT_ENUMERATOR|DN_NT_DRIVER]

[2017-04-15 19:30] goshwinkle commented on #566
sorry, hmd on head, rocking baby in one arm and updating with other

[2017-04-15 19:31] Armada651 commented on #566
@goshwinkle Have you tried switching back and forth between version 1.0.6 and 1.1? If it also crashes with a BSOD on 1.0.6 then the update is not responsible.

[2017-04-15 19:33] goshwinkle commented on #566
will try that. dumps attached

[minidumps.zip](https://github.com/LibreVR/Revive/files/923852/minidumps.zip)

[2017-04-15 19:37] goshwinkle commented on #566
hang on, wouldnt even launch before due to medium update so going back likely sdame issue. pre medium update it worked fine. probs just my setup not handling medium now . trying now anyway

[2017-04-15 19:39] goshwinkle commented on #566
yeah same unable to initialise rift error, no bsod

[2017-04-15 19:46] Armada651 commented on #566
Oh right forgot about that. Anyway, the crash dump you sent contains no indication that either Revive or your graphics driver is responsible. This is a serious issue with your PC and I would start running things like memtest86 to confirm your RAM is still okay.

[2017-04-15 19:50] goshwinkle commented on #566
thanks will do. Just updating graphics drivers and checking for other issues. brand new system built by me (total novice) a few weeks ago for vive.

[2017-04-15 19:53] siraxe commented on #566
nice )) found it , set to normal , works amazing

[2017-04-15 20:10] routb3d commented on #566
I was able to get into medium. 1st try, Revive did not launch automatically. Closed steam vr, manually launched revive and That worked but steam and desktop options failed to launch. Shut down again and Revive failed to launch. Doesn't seem like a big deal for now and my be unique to my set up. I'm running the beta branch of Steam VR..

[2017-04-15 20:12] Armada651 commented on #566
@routb3d Can you try starting Steam as an admin? Some people are running into some kind of access problem, I'm still trying to fix it.

[2017-04-15 20:14] routb3d commented on #566
I will.. I got a bunch of kids in Job Sim at the moment and don't know when I'll get control back.. So it may be a while..

[2017-04-15 20:55] goshwinkle commented on #566
Seems to be some faulty ram for me. Timing likely coincidental as failing with BSOD regularly now with a few errors. Thanks for update work, can't wait to get into it.

[2017-04-15 21:33] SimonPStevens opened #568 "Dashboard gives system error (winsparkle.dll and openvr_api.dll) on startup"
I get this error when starting the revive dashboard:

    ReviveOverlay.exe - System Error - The program can't start because WinSparkle.dll is missing from your computer. Try reinstalling the program to fix this problem.

It's then followed by this error:

    ReviveOverlay.exe - System Error - The program can't start because openvr_api.dll is missing from your computer. Try reinstalling the progr

[2017-04-15 21:34] Armada651 commented on #568
Ah it looks like I forgot to copy over some dependencies, I'll fix the installer now.

[2017-04-15 21:37] SimonPStevens commented on #568
@Armada651 Wow, talk about great support. 35 seconds from posting an issue to getting a response! Thanks.

[2017-04-15 21:38] Armada651 commented on #568
Should be fixed now, same download link: https://github.com/LibreVR/Revive/releases/tag/1.1

As long as I'm online I receive notifications about every github issue and usually respond right away.

[2017-04-15 21:39] #568 closed

[2017-04-15 21:41] SimonPStevens commented on #568
Well thanks for fixing it so quick. I was about to give up and try another day, but I think I'll stay up and play now :-)

[2017-04-15 21:52] goshwinkle commented on #566
Removed 8gb ram leaving other 8gb, works great. Thanks for advice and again for your work

[2017-04-15 21:54] Armada651 commented on #566
@goshwinkle Still wouldn't be a bad idea to run memtest86 on the remaining 8GB. I once had RAM with only two faulty addresses that never resulted in a BSOD, instead it ended up slowly corrupting most of the files on my hard drive over the course of a few months.

[2017-04-15 21:57] goshwinkle commented on #566
Thanks yeah I ran 2 passes 0 errors on remaining 8gb. Might do more passes overnight. Got over 2000 errors with other stick in.

BTW still getting flicking around of model when gripping and moving. Thanks :)

[2017-04-15 21:58] Armada651 commented on #566
@goshwinkle You mean issue #431? I still haven't been able to reproduce that yet. How big does the model need to be before that starts happening?

[2017-04-15 22:00] #566 closed

[2017-04-15 22:02] Armada651 commented on #431
I haven't been able to reproduce this in time for the 1.1 release.

How large does your model need to be before this starts happening?

[2017-04-15 22:10] goshwinkle commented on #566
Any size, initial ball does it

[2017-04-15 22:17] jtryon commented on #431
I updated revive and medium to the latest versions and tested fresh.
On a new project file with the tiniest model I could think to make (just a quick single stroke of the basic brush tool).  Rotating it in the fashion shown in the video before (and posted again here) still does the flippy thing.

Seems like an issue reporting the rotation of the controller or something.  Note it always happens at

[2017-04-15 23:33] Armada651 commented on #431
I see, it's probably a continuity problem in the angle, that's probably the point where -180 changes to 180.

[2017-04-16 00:16] 1Revenger1 commented on #512
In like the 10-15 minutes I had to try this out, I found that with no reprojection, it was a lot of stutter and not really playable. Always-on Reprojection I found helped the most, although there was still a lot of stutter, and I noticed my view kind of rubber-banding a little bit at times. The other 2 modes of reprojection, even if they were all applied, didn't do much from what I found.
![screen

[2017-04-16 00:21] jfb4497 opened #569 "Lots of games no longer working with Oculus and Revive updates"
Hi,

I am noticing that a lot of (mostly unreal based) games are either unstable or no longer work. I hadn't touched many of the older apps today until I was messing around. A lot of them seem to crash now. I've tried running both steam and revive in adminstrator mode to see if that would help, but it does not appear to do so. Examples of the games and experiences that crash (either with injecting

[2017-04-16 00:31] Armada651 commented on #569
Thanks for reporting, I've messed up a version check, luckily I can release a hotfix right now.

[2017-04-16 00:35] Armada651 commented on #569
Should be fixed now, just redownload version 1.1 or run the update checker.

[2017-04-16 00:35] jfb4497 commented on #569
I'll try it out. If there are logs or anything that you could point me towards, I could also post those.

[2017-04-16 00:40] Armada651 commented on #431
Okay I was able to reproduce it, the cause seems to be the x and y axes of the quaternion swapping the sign (positive/negative) at that exact angle.

[2017-04-16 00:51] Armada651 commented on #569
@jfb4497 Can you confirm the new hotfix works? I'd like to go to bed soon. ;)

[2017-04-16 00:53] jfb4497 commented on #569
Hmm, Lucky's Tale is still crashing even with the update.  However, Introduction to VR and Ripcoil now work again. Farlands seems to sometimes work but is very prone to crashing.

[2017-04-16 00:54] jfb4497 commented on #569
Don't stay up too late on account of me. This can wait until you are more rested. Your work is very much appreciated!

[2017-04-16 00:57] Armada651 commented on #569
@jfb4497 I can't reproduce the crash anymore with the hotfix, are you sure you're running the right version? You can double-check it by right-clicking the Revive tray icon and clicking "Check for updates". It should tell you that you're running version 1.1.0.1.

[2017-04-16 00:59] SweViver commented on #560
Any update on this? Would be awesome if Giant Cop could get Vive support :) Thanks a lot guys!

[2017-04-16 01:04] jfb4497 commented on #569
Yep, I'm running that version. It could be something on my end, however. Other applications that weren't working do appear to be working again. I may try uninstalling and reinstalling some of the applications that are still acting up.

[2017-04-16 01:05] Armada651 commented on #569
Well, let's limit ourselves to Lucky's Tale, it doesn't crash for me anymore. Does it still crash for you?

[2017-04-16 01:08] #556 closed

[2017-04-16 01:08] #520 closed

[2017-04-16 01:09] Armada651 commented on #521
Closing as it has been fixed by Epic, simply go to the settings to enable 360 tracking.

[2017-04-16 01:09] #521 closed

[2017-04-16 01:09] #517 closed

[2017-04-16 01:09] #516 closed

[2017-04-16 01:10] Armada651 commented on #522
Closing as duplicate of issue #512.

[2017-04-16 01:10] #522 closed

[2017-04-16 01:11] #539 closed

[2017-04-16 01:11] #538 closed

[2017-04-16 01:11] jfb4497 commented on #569
Oh hey, I had tried patching it earlier. Deleting the patch files from the Lucky's Tale folder has led it to working again. I'll make sure I don't have old injector files or patch files in the other app folders. That will have to wait until a little later though as I am heading out for food. :)

Thanks again!

[2017-04-16 01:12] Armada651 commented on #569
Never use the patching functionality on an Oculus Store game. Patching it copies the current version of Revive into the game folder, which won't be automatically updated.

[2017-04-16 03:25] jfb4497 commented on #569
So Showdown and Ghost in the Shell remain the only two experiences that still don't work with the new update (even after uninstalling and reinstalling). Everything else appears to be working much better. Thank you!

[2017-04-16 06:32] lghtanddrk opened #570 "Should I play Robo Recall using Revive or RoboRevive"
I noticed that there's a fix for Robo Recall's height issue in Revive ver 1.1.  Does this mean we no longer need the separate Robo Revive install and can run the game through Revive like normal?

I installed Robo Recall earlier this week and am using Robo Revive.  I currently launch it from my desktop as was recommended.

[2017-04-16 10:58] Armada651 commented on #570
You can use either one, whichever works best for you. I personally prefer RoboRevive as I think that's the technically superior solution. But RoboRevive has its own set of issues, so if you prefer playing it through the Revive compatibility layer that's fine too.

[2017-04-16 12:18] Armada651 commented on #512
Moving this issue ahead to the next milestone to look for more opportunities for performance improvements.

Don't get your hopes up though, improving the performance without a deeper understanding of the game engine is very difficult.

[2017-04-16 12:44] mikegomak commented on #512
Thanks again for all the effort being put into this - I wanted to check asap and get back to you. I am not really noticing any differences regardless of settings, although the most recent driver update from Nvidea definitely improved things - previously I could only play the game a short while before nausea struck - I have either acclimatised to it - or framerates have gone up. (I don't get missed

[2017-04-16 12:49] Armada651 commented on #512
That wouldn't help anything, the reason that works is probably because you're freeing up resources like CPU time and SSD/HDD access.

[2017-04-16 12:56] SimplexPL commented on #570
So what issues RoboRevive has? I thought it's unequivocally better than using Revive.

[2017-04-16 13:01] Armada651 commented on #570
https://github.com/LibreVR/RoboRevive/issues

Neither is flawless, so which one you think is better just depends on which issues your run into.

[2017-04-16 13:56] Jarmat opened #571 "Mission:ISS Crashing on Launch"
Haven't been able to get Mission:ISS to launch with Revive.  The app crashes immediately after launch with no errors.  Reinstalling didn't resolve the issue.

[2017-04-16 13:58] Krylke commented on #569
Edge of tomorrow still has flickering issues on some textures but its much better than it was and it runs much better too. It appears it has something to do with snow or ice because in the later parts of the game without snow there is no flickering at all now. I have the latest patch and hotfix installed.

Great job and thank u so much for making revive. I really love the software :-)

[2017-04-16 14:14] Armada651 commented on #569
The flickering issues is known and affects The Unspoken too because it uses the same engine, though it is affected to a lesser degree. I have not yet found the cause because all the tools I normally use to debug such issues crash when used on Edge of Nowhere.

[2017-04-16 14:19] Armada651 commented on #571
I'm unable to reproduce this issue, it works fine for me. Can you check if there are any crashing log or dump files in the game directory?

[2017-04-16 14:21] Armada651 commented on #560
Can someone post the `output_log.txt` from their game directory? It's located in the folder that ends with `_Data`.

[2017-04-16 14:22] Armada651 commented on #565
Please try the latest version of Revive: https://github.com/LibreVR/Revive/releases

If that doesn't work try @CarrotSurvivor's advice.

[2017-04-16 14:27] Armada651 commented on #548
@SimplexPL When I made that comment I wasn't aware that Edge of Nowhere would crash with nearly every graphics debugger that I have. Making something that should be relatively simple to debug nearly impossible. I can't even begin to fix the problem until I find a way to use graphics debuggers on Edge of Nowhere.

Anyway, the new release should at least solve a bit of the stuttering introduced in R

[2017-04-16 14:29] SimplexPL commented on #548
Thanks for all your efforts, they are appreciated!
Sucks about the debugger crash, maybe the dev (Insomniac) would be willing to help you?

[2017-04-16 15:00] Jarmat commented on #571
Thanks for the quick response, I don't know why I didn't think to look for a log file... I found one in the MissionISS_Data directory.  In particular I found this:

ovr_GetAudioDeviceInGuid failed: The system or component has not been initialized.
Cannot get preferred VR audio IN device.Application Paused: HMD: False Focus: False HMD Present: False

(Filename: C:/buildslave/unity/build/artifacts/g

[2017-04-16 15:06] Armada651 commented on #571
That's just a consequence of this problem:

[code]

Do you have SteamVR running when attempting to start Mission:ISS? Do you have the latest version of Revive (1.1) installed?

[2017-04-16 15:19] Armada651 commented on #571
From what I can see this may be an access problem. You've likely started SteamVR as an admin, but Revive was started as a normal user. This means Revive won't be able to access the compositor.

[2017-04-16 15:19] Jarmat commented on #571
Yes, SteamVR was running at the time.  I'll have to check if it has the
latest version of Revive.

On Sun, Apr 16, 2017 at 10:06 AM Jules Blok <notifications@github.com>
wrote:

[2017-04-16 15:28] Jarmat commented on #571
Ok thanks,  I'll make sure it runs as admin.

On Sun, Apr 16, 2017 at 10:19 AM Jules Blok <notifications@github.com>
wrote:

[2017-04-16 15:34] Armada651 commented on #571
Actually it would be better if you could run them both as normal user, but if you run them as admin at least you can confirm it's an access problem.

[2017-04-16 16:14] Dynedge opened #572 "Rock Band VR Closes on Launch"
I just installed and set up Revive yesterday so I could purchase Rock Band VR. I followed all the guides for setup and everything appears to be working, I was able to mess around with all the apps Oculus comes with without any issue so I bought Rock Band VR and now any time I try to launch it I see a black box open on my desktop and immediately close. I've tried to troubleshoot this myself already

[2017-04-16 16:53] Armada651 commented on #431
Fixed in commit 1655efedd418f6da2e01322069aa466868d6d5cb.

[2017-04-16 16:57] Armada651 commented on #572
If this is a Unity Engine game there should be a _Data directory that contains the file output_log.txt. Please upload it in the comment box here.

[2017-04-16 17:22] Armada651 commented on #569
@jfb4497 Showdown is working for me, you either patched it with the broken version of you are not starting it through the Revive Dashboard.

I can reproduce the Ghost in the Shell crash, but it doesn't seem to be related and it crashes on version 1.0.6 also. You can submit a new ticket for that issue.

[2017-04-16 17:33] Armada651 commented on #569
On closer inspection, it is related. I didn't notice that the struct returned by `ovr_GetPerfStats()` was expanded with new ASW variables. This causes Revive to write outside of the bounds of the buffer quickly crashing the application.

[2017-04-16 19:00] AndreStadelmann commented on #560
@Armada651 I'm looking for it but can't find it. Ther is one in superhot as i should bot not in Giant Cop. Any thougts?

[2017-04-16 19:02] Dynedge commented on #572
I'm not sure what engine this game is running on but I located the .exe file inside of C:\Program Files\Oculus\Software\Software\harmonix-rockband-vr and wasn't able to find any _Date folders there or around there. I was able to find what looked to be some log files in C:\Users\UserName\AppData\Local\Oculus names stuff like PerfLog_2017-04-16_12.01.49 or Service_2017-04-16_12.01.42 but these are p

[2017-04-16 19:30] Armada651 commented on #572
Can you try Revive version 1.0.6? https://github.com/LibreVR/Revive/releases/tag/1.0.6

Just install over your existing installation.

[2017-04-16 19:38] darkphoenixfox opened #573 "Can't run Rockband VR"
When I click on the game from the Revive tab inside SteamVR I hear the steam sound when you clic on an empty space and nothing happens. All other Oculus games launch fine from there.

If I try to run the game from the Revive Icon nothing happens (inject). If I try to patch it and then run it, crashes to desktop (Rbvr.exe has stopped working).

Windows 10 Creator's update, latest Nvidia drivers

[2017-04-16 19:38] Armada651 commented on #573
Duplicate of issue #572.

[2017-04-16 19:38] #573 closed

[2017-04-16 19:40] darkphoenixfox commented on #573
I saw that thread earlier today but the second response had not been added yet, so it did look like a different issue. Apologies

[2017-04-16 19:43] darkphoenixfox commented on #572
Same issue witn 1.0.6. Still getting the "empty" noise inside SteamVR, still crashing when running from the folder.

[2017-04-16 19:43] Armada651 commented on #572
@darkphoenixfox You need to restart SteamVR.

[2017-04-16 19:46] Armada651 commented on #572
Anyway, this issue is probably related to issue #569. The size of some structures changed and I didn't correctly account for those. I'm working on a fix.

[2017-04-16 19:52] darkphoenixfox commented on #572
Alright, I had restarted steam and steam VR already. Will keep an eye on the other thread. Thanks

[2017-04-16 19:53] Armada651 commented on #572
@darkphoenixfox Still would like to know if 1.0.6 fixes the crash. Can you try starting Rockband VR from the Revive dashboard instead of the SteamVR one?

[2017-04-16 19:56] darkphoenixfox commented on #572
Inject: nothing happens
Patch and run: Seems that doesn't crash. Can't fully test now. Will test it later today

[2017-04-16 20:58] Dynedge commented on #572
Just installed 1.0.6 and was able to boot the game successfully! Having guitar issues but I have a feeling those are unrelated. Thanks for the help!

[2017-04-16 21:58] Dynedge commented on #572
Confirmed that the guitar issue was unrelated. Didn't have the active window set to the game. lol

[2017-04-16 22:08] Armada651 commented on #572
@Dynedge That clearly points to issue #569 as the cause, will be fixed in the next release.

[2017-04-16 22:26] argold57 opened #574 "Chronos Failed Entitlement Check"
I just installed Revive 1.1.0.1.  I just purchased Chronos.

Here is what I tried:
-Uninstalling and reinstalling Chronos
-Uninstalling and reinstalling Oculus Home with a new version downloaded today, then installing Chronos from a fresh start
-Restarting Oculus Home after Cronos install
-Restarting my PC.

[2017-04-16 22:41] Armada651 commented on #574
Can you try Revive version 1.0.6? https://github.com/LibreVR/Revive/releases/tag/1.0.6

[2017-04-16 22:41] darkphoenixfox commented on #572
after installing 1.0.6 I can get in game, after I press the green button to start I'm kicked out back to SteamVR

[2017-04-16 23:10] argold57 commented on #574
I still get Entitlement Check /failed with 1.0.6.

I tried launching from the steam tab and injecting Chronos-Win64-Shipping.exe in the task bar.

[2017-04-16 23:29] Armada651 commented on #574
That is strange I just played a game of Chronos and I can confirm it's still working with the latest version of Revive.

This sounds like a problem with Oculus Home. Try this:

1. Download the [Oculus SDK](https://developer.oculus.com/downloads/package/oculus-sdk-for-windows/).
2. Extract the ` Tools` folder
3. Run the `OculusDebugTool.exe`
4. Set the Debug HMD Type to CV1, this should open a wind

[2017-04-17 00:18] argold57 commented on #574
Thanks, that got me past that problem.  I guess I should try updating back to 1.1.0.1?

[2017-04-17 00:41] Armada651 commented on #403
@Nordomus Please try the latest release: https://github.com/LibreVR/Revive/releases/tag/1.1

It should improve performance a little bit, but you may still need to enable Always-on Reprojection in the SteamVR developer settings. (Turn if off again when you're done playing The Climb)

You probably also need to mess with enabling/disabling Asynchronous and/or Interleaved Reprojection.

[2017-04-17 00:52] Armada651 commented on #525
Since more and more Oculus Games are starting to make use of the Adaptive Performance Scale I'm going to implement it for the next version of Revive. I'll probably base it on the Adaptive Quality from The Lab Renderer:

https://github.com/ValveSoftware/the_lab_renderer/blob/ae64c48a8ccbe5406aba1e39b160d4f2f7156c2c/Assets/TheLabRenderer/Scripts/ValveCamera.cs#L631